<div class="recording-wrapper">
  <div class="recording-inner-wrapper">
    <!--
    <div class="gradient-line-right recording-line">
    </div>
    -->
    <div class="recording-header">

      <div class="recording-header-icon-div">
        <img class="recording-header-icon" src="assets/images/icon-me4.svg">
      </div>
      <div class="recording-header-text title-small">
        Samozavest
      </div>
    </div>
    <div class="gradient-line-right recording-line">
    </div>
    <div class="recording-content">
      <p>
          Ta kategorija zajema tehnike  za večanje samozavesti, samozaupanja, pozitivne samopodobe, samospoštovanja, samostojnosti ter zmanjševanje tesnobe in skrbi. 
          Krepitev samozavesti je del vsake dobre hipnoze, saj je močno orodje pri obravnavi širokega spektra težav. Nekateri avtorji navajajo, da je krepitev samozavesti primerna prav za vse ljudi, ne glede na njihove težave.  Gre za temeljni občutek ”jaz zmorem”, pa naj bo to karkoli.            
      </p>
    </div>

    <div class="select-recording-wrapper">
      <div class="recordings-list">
        <div class="recording-element">
          <div class="recording-element-icon-div">
            <img class="recording-element-icon" src="assets/images/circle-empty.svg">
          </div>
          <div class="recording-element-title">
            Prehranjevanje je umentnost
          </div>
        </div>
        <div class="recording-element active">
          <div class="recording-element-icon-div">
            <img class="recording-element-icon" src="assets/images/circle-full.svg">
          </div>
          <div class="recording-element-title active">
            Brez hrepenenj
          </div>
        </div>
        <div class="recording-element">
          <div class="recording-element-icon-div">
            <img class="recording-element-icon" src="assets/images/circle-empty.svg">
          </div>
          <div class="recording-element-title">
            Grajska pot
          </div>
        </div>
      </div>
      <!--
      <div class="gradient-line-right select-recording-line"></div>
      -->
      <div class="selected-recording-content-wrapper">
        <div class="selected-recording-title">
          Brez hrepenenj
        </div>
        <div class="selected-recording-text">
            Ta kategorija zajema tehnike  za večanje samozavesti, samozaupanja, pozitivne samopodobe. Ta kategorija zajema tehnike  za večanje samozavesti, samozaupanja, pozitivne samopodobe. Ta kategorija zajema tehnike  za večanje samozavesti, samozaupanja, pozitivne samopodobe.
        </div>
        <div class="selected-recording-mix">
          <div class="recordingframe" click>
            <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=%2Fbrianskyze%2F008-prescriptive-grammar-radio-show%2F" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>