@import '../../variables.scss';

.recording-wrapper {
    
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    .recording-inner-wrapper{
        margin-top: calc(#{$nav-height} + #{$subnav-height} + #{$content-padding});
        width: 100%;

        .recording-header {
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            //background-color: #ceddef;
            //background: linear-gradient(to right,  #ceddef, #a8f4c1, #ceddef);
            //background: linear-gradient(to right,  $white, #ceddef, $white);

            .recording-header-icon-div {

            }

            .recordings-header-text {
                //font-family: PlayfairDisplay-Regular;
                font-family: OpenSans-Semibold;
                //font-family: OpenSans-Regular;
                font-size: 20px;
                text-transform: uppercase;
            }
        }

        .recording-content {
            width: $narrow-width;
            margin: auto;
            padding: $content-padding 0;
            min-height: 40vh;
            text-align: justify;
        }

        .select-recording-wrapper {

            .recordings-list {
                width: $narrow-width;
                margin: auto;
                display: flex;
                justify-content: center;

                .recording-element {
                    width: 230px;
                    display: flex;
                    flex-direction: column;
                    //justify-content: center;
                    align-items: center;
                    text-align: center;   
                    padding: 0 10px 10px 10px;
                    border-bottom: 4px solid $light-gray; 
                    text-transform: uppercase;
                    cursor: pointer; 

                    &.active {
                        border-bottom: 4px solid $black;
                    }
                    
                    .recording-element-icon-div {
                        display: none;
                        margin-bottom: 15px;

                        .recording-element-icon {
                            height: 15px;
                            width: auto;
                        }
                    }
                    
                    .recording-element-title {
                        //text-transform: uppercase;
                        letter-spacing: 2px;
                        font-size: 18px;
                        color: $gray;

                        &.active  {
                            color: $black;
                        }
                    }
                }
            }
            
            .select-recording-line {
                width: 700px;
                margin: 20px auto;
                background: $light-gray;
            }  

            .selected-recording-content-wrapper {
                width: $narrower-width;
                margin: $content-padding auto;

                .selected-recording-title {
                    margin-bottom: 20px;
                    text-align: center;
                    letter-spacing: 2px;
                    font-size: 22px;
                    text-transform: uppercase;
                    font-family: OpenSans-Semibold;
                }

                .selected-recording-text {
                    text-align: center;
                }

                .selected-recording-mix {
                    margin: 30px auto;
                    width: 500px;
                }
            }
        }
    }
}