<div class="recording-wrapper">
  <div class="recording-inner-wrapper">
    <div class="gradient-line-right recording-line">
    </div>
    <div class="recording-header">

      <div class="recording-header-icon-div">
        <img class="recording-header-icon" src="assets/images/icon-me4.svg">
      </div>
      <div class="recording-header-text title-small">
        Samozavest
      </div>
    </div>
    <div class="gradient-line-right recording-line">
    </div>
    <div class="recording-content">
      <p>
          Ta kategorija zajema tehnike  za večanje samozavesti, samozaupanja, pozitivne samopodobe, samospoštovanja, samostojnosti ter zmanjševanje tesnobe in skrbi. 
          Krepitev samozavesti je del vsake dobre hipnoze, saj je močno orodje pri obravnavi širokega spektra težav. Nekateri avtorji navajajo, da je krepitev samozavesti primerna prav za vse ljudi, ne glede na njihove težave.  Gre za temeljni občutek ”jaz zmorem”, pa naj bo to karkoli.            
      </p>
    </div>
  </div>
</div>