@font-face {
    font-family: OpenSans-Light;
    src: url("~/assets/fonts/OpenSans-Light.woff") format("woff");
}

@font-face {
    font-family: OpenSans-Regular;
    src: url("~/assets/fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
    font-family : Montserrat-Regular;
    src         : url("~/assets/fonts/MontserratRegular.woff") format("woff");
}

@font-face {
    font-family : PlayfairDisplay-Regular;
    src         : url("~/assets/fonts/PlayfairDisplay-Regular.woff") format("woff");
}

@font-face {
    font-family : PlayfairDisplay-Bold;
    src         : url("~/assets/fonts/PlayfairDisplay-Bold.woff") format("woff");
}

@font-face {
    font-family: Futura-Heavy;
    src: url("~/assets/fonts/FuturaHeavy.woff") format("woff");
}

@font-face {
    font-family: Futura-Light;
    src: url("~/assets/fonts/FuturaLight.woff") format("woff");
}

$black: #000000;
$white: #ffffff;
$gray: #7f7f7f;
$light-gray: #d9d8d8;
$very-dark-green: #535c43;
$dark-green: #7d9162;
$light-green: #aabf8d;
$very-light-green: #dceabc;

$nav-height: 200px;

$wide-width: 100%;
$narrow-width: 80%;
$content-padding: 50px;
$space-between-elements: 30px;