<div class="contact-wrapper">
  <div class="contact-form-wrapper">
    <div class="form-field">
      <label for="name" class="label">Ime:</label>
      <input type="text" id="name" class="input" name="fname">
    </div>
    <div class="form-field">
      <label for="email" class="label">E-mail:</label>
      <input type="text" id="email" class ="input" name="fname">
    </div>
    <div class="form-field">
      <label class="label">Sporočilo:</label>
      <textarea class="message input"></textarea>
    </div>
  </div>
</div>