@import '../../variables.scss';

.hypnosis-wrapper {

    .hypnosis-inner-wrapper {
        background-color: $white;
        display: flex;
        padding: $content-padding 0;

        .hypnosis {
            width: $narrow-width;
            margin: auto;

            .empty-div {
                height: calc(100px + $content-padding + $regular-font-size);
                width: 100%;
            }

            .hypnosis-sub-navigation {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 100px;
                z-index: 2;

                &.fixed {
                    position: fixed;
                    top: $nav-height;
                    left: 0;
                    padding: 20px;
                    //padding-top: 50px;
                    text-align: center;
                    width: 100vw;
                    background-color: $white;
                    margin-bottom: 0;
                }

                .hypnosis-sub-navigation-link {
                    margin: 0 20px;
                    cursor: pointer;
                    font-size: 20px;
                    letter-spacing: 2px;
                    text-transform: uppercase;

                }
            }

            .hypnosis-content { 
                margin-top: 20px;

                &.fixed-subnav-change {
                    margin-top: 130px;
                }

                .introduction {
                    margin-bottom: 40px;

                    .introduction-element {
                        margin-bottom: 30px;
                        text-align: center;

                        &.highlighted {
                            font-size: 24px;
                            //font-style: italic;
                            //text-transform: uppercase;
                            letter-spacing: 2px;
                        }
                    }
                }
                /*
                .hypnosis-questions-wrapper {
                    //text-align: center;
                    display: flex;
                    .hypnosis-about-element{

                        .hypnosis-question {
                            cursor: pointer;
                            margin-top: 30px;
                            transition: 0.3s;

                            &:hover {
                                letter-spacing: 3px;
                            }
                            
                        }
                        .hypnosis-answer{
                            margin-top: 10px;
                        }
                    }
                }
                */
                .hypnosis-questions-wrapper {
                    display: flex;
                    
                    .hypnosis-questions-list-wrapper {
                        width: 30%;
                        padding-right: 50px;

                        .hypnosis-question {
                            padding: 15px 15px 15px 0;
                            border-right: 4px solid $light-gray;
                            //text-transform: uppercase;
                            letter-spacing: 2px;
                            font-size: 18px;
                            color: $gray;

                        &.active  {
                            color: $black;
                            border-right: 4px solid $black;
                            font-family: OpenSans-Semibold;
                        }

                        }
                    }

                    .hypnosis-answer-wrapper {
                        width: 70%;
                        text-align: justify;

                        .hypnosis-answer-title {
                            margin-bottom: 20px;
                            //text-transform: uppercase;
                            letter-spacing: 2px;
                            font-size: 28px;
                            font-family: PlayfairDisplay-Regular;
                        }

                        .hypnosis-answer-content {

                        }
                    }
                }
            }
        }
    }
}