<div class="hypnosis-wrapper">
  <div class="bg-img-div">
    <img class="bg-img" src="assets/images/birds_blur.jpg">
  </div>
  <div class="home-cover-text page-title-div">
    <div class="title">
      O hipnozi
    </div>
    <div class="title-line">
    </div>
    <div class="subtitle">
      Nekaj besed o hipnozi in posnetkih
    </div>
  </div>
  <div class="hypnosis-inner-wrapper">
    <div class="hypnosis">
      <div class="hypnosis-content">

        <div class="hypnosis-questions-wrapper full-screen">
          <div class="hypnosis-questions-inner-wrapper" #hypnosis>
            <div class="about-hypnosis-questions-title title-medium">
              o hipnozi
            </div>
            <app-questions-answers-row [content]="content"></app-questions-answers-row>
          </div>
        </div>

        <div class="hypnosis-empty-div">
          </div>

        <div class="about-recordings-questions-wrapper">
          <div class="about-recordings-questions-inner-wrapper full-screen">
            <div class="about-recordings-content">
              <div class="about-recordings-title title-medium">
                O posnetkih
              </div>
              <app-questions-answers-row [content]="contentRecordings"></app-questions-answers-row>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <!-- hypnosis-inner-wrapper -->
</div>
