<div class="hypnosis-wrapper">
  <div class="bg-img-div">
    <img class="bg-img" src="assets/images/birds_blur.jpg">
  </div>
  <div class="home-cover-text page-title-div">
    <div class="title">
      Hipnoza
    </div>
    <div class="title-line">
    </div>
    <div class="subtitle">
      Posnetki hipnoze
    </div>
  </div>
  <div class="hypnosis-inner-wrapper full-screen" [class.fixed-subnav-change]="fixedSubNav">
    <div class="hypnosis">
      <div class="empty-div" [class.empty-div]="fixedSubNav">
      </div>
      <div class="hypnosis-sub-navigation" [class.fixed]="fixedSubNav">
        <div class="hypnosis-sub-navigation-link">
          O hipnozi
        </div>
        <div class="hypnosis-sub-navigation-link">
          O posnetkih
        </div>
        <div class="hypnosis-sub-navigation-link">
            <a [routerLink]="['/recordings']">
              Posnetki
            </a>
        </div>
      </div>
      <div class="hypnosis-content" [class.fixed-subnav-change]="fixedSubNav">
        <div class="introduction full-screen">
          <div class="introduction-element title-small">
              Rasti&strmeti k soncu s hipnozo?
          </div>
          <div class="introduction-element highlighted">
              Hipnoza je stanje globoke sproščenosti, usmerjene pozornosti in sprejemljivosti za sugestije. Vsaka oseba, ki je zmožna razumeti hipnoterapevtove besede je zmožna vstopiti v hipnotizirano stanje. Seveda, če si to želi in je primerno motivirana.
          </div>
          <div class="introduction-element">
              Če čutite, da bi bil to lahko doprinos k vašemu življenju - vabljeni k poslušanju.
          </div>
          <div class="introduction-element">
              To je vse kar potrebujete za velike spremembe.
          </div>   
        </div>
        <div class="hypnosis-questions-wrapper">
          <div *ngFor='let element of about' class="hypnosis-about-element">
            <div class="hypnosis-question title-smaller" (click)="elementClicked(element)">
              {{element.question}}
            </div>  
            <div class="hypnosis-answer" *ngIf="element.show">
              {{element.answer}}
            </div>
          </div>
        </div>

        <div class="hypnosis-recording-element">
          <br/>
          <br/>
          <br/>
          Preden začneva.. <br/>
          <br/>
          te prosim, da si izbereš miren in udoben prostor. Pomembno je, da se lahko sprostiš in da se ob tem počutiš varno.<br/>
          Ne pozabi izkjučiti mobilnega telefona in drugih elektronskih naprav. <br/>
          Njapomembnejše pa je, da hipnoze ne poslušaš medtem ko voziš oz. kadarkoli moraš ostati zbran. <br/>
          <br/>
          <i>Si pripravljen na velike spremembe?</i><br/>
      
          <br/>
          <div class="form-field">
            <div class="confirm"> Da </div>
            <a class="more" href="/contact"> Dodatna vprašanja </a>
          </div>
          <br/>
          <div class="recordingframe" click>
            <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=%2Fbrianskyze%2F008-prescriptive-grammar-radio-show%2F" frameborder="0"></iframe>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <!-- hypnosis-inner-wrapper -->

</div>