@import '../../variables.scss';

.hypnosis-wrapper {

    .hypnosis-inner-wrapper {
        background-color: $white;
        display: flex;
        padding: $content-padding 0;

        .hypnosis {
            width: $narrow-width;
            margin: auto;

            .hypnosis-sub-navigation {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 100px;

                .hypnosis-sub-navigation-link {
                    margin: 0 20px;
                    cursor: pointer;
                    font-size: 20px;
                    letter-spacing: 2px;
                    text-transform: uppercase;

                }
            }

            .hypnosis-content { 
                margin-top: 20px;
                .introduction {
                    margin-bottom: 40px;

                    .introduction-element {
                        margin-bottom: 30px;
                        text-align: center;

                        &.highlighted {
                            font-size: 24px;
                            //font-style: italic;
                            //text-transform: uppercase;
                            letter-spacing: 2px;
                        }
                    }
                }
                .hypnosis-about-element{

                    .hypnosis-question {
                        cursor: pointer;
                        margin-top: 30px;
                        transition: 0.3s;

                        &:hover {
                            letter-spacing: 3px;
                        }
                        
                    }
                    .hypnosis-answer{
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}