@import '../../variables.scss';

$blogpost-header-height: 70vh;

.eventpost-wrapper {
    min-height: 100vh;
    padding-top: $nav-height;

    .eventpost-header {
        height: $blogpost-header-height;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .eventpost-img-div {
            position: absolute;
            width: 100%;
            //position: fixed;
            z-index: -2;
            opacity: 0.75;

            .eventpost-img {
                width: 100%;
                height: $blogpost-header-height;
                object-fit: cover;
                overflow: hidden;
                opacity: 0.75;
            }
        }

        .light-bg-div {
            display: none;
            height: $blogpost-header-height;
            width: 100%;
            position: absolute;
            background-color: $white;
            opacity: 0.3;
            z-index: -1;
        }

        .eventpost-category {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: OpenSans-Regular;
            font-size: $small-font;
        }
        .eventpost-title {
            margin: 10px 0;
            font-family: PlayfairDisplay-Regular;
            text-transform: uppercase;
            letter-spacing: 4px;
            font-size: 38px;
            text-align: center;
        }

        .eventpost-date {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: $small-font;
        }
    }

    .eventpost-content {
        padding: $content-padding 0;
        width: $narrower-width;
        margin: auto;

        @include breakpoint-960 {
            width: $narrow-width;
        }

        @include breakpoint-768 {
            width: 100%;
            padding: $content-padding $content-padding-mobile;
        }

        p {
            //text-indent: 40px;
            text-align: justify;
        }

        .videoWrapper {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            padding-top: 25px;
            height: 0;
        }
        .videoWrapper iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .eventpost-gallery {
            margin-top: $content-padding;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .eventpost-img-div {
                width: 100%; //49%
                margin-bottom: 30px;
                text-align: center;

                @include breakpoint-960 {
                    width: 100%;
                }

                .eventpost-img {
                    width: 80%;
                    //height: 300px;
                    height: auto;
                    object-fit: cover;
                    overflow: hidden;

                    @include breakpoint-960 {
                        width: 100%;
                    }
                }
            }
        }

        .contact-form-wrapper {
          width: 70%;
          margin: auto;

          @include breakpoint-960 {
              width: 100%;
          }

          .contact-form-title {
              width: 100%;
              text-align: left;
              padding-bottom: 30px;

              @include breakpoint-960 {
                  text-align: center;
              }
          }

          .title-small-closed {
            font-family: PlayfairDisplay-Regular;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 3px;
          }

          .form-field {
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              /* Customize the label (the container) */
              .checkbox-container {
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 12px;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                text-transform: uppercase;
                letter-spacing: 1px;
                padding-right: 35px;
                font-size: $small-font;
            }

            .checkbox-container-error {
              color: $pastel-red;
            }

            /* Hide the browser's default checkbox */
            .checkbox-container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            /* Create a custom checkbox */
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: $white;
                border: 1px solid $black;
                transition: background-color 0.3s;
            }

            /* On mouse-over, add a grey background color */
            .checkbox-container:hover input ~ .checkmark {
                background-color: $black;
            }

            /* When the checkbox is checked, add a blue background */
            .checkbox-container input:checked ~ .checkmark {
                background-color: $black;
            }

            /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }

            /* Show the checkmark when checked */
            .checkbox-container input:checked ~ .checkmark:after {
                display: block;
            }

            /* Style the checkmark/indicator */
            .checkbox-container .checkmark:after {
                left: 8px;
                top: 4px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
          }

          .message-label {
              padding: 10px;
              color: $black;
              text-transform: uppercase;
              letter-spacing: 2px;
              font-size: $smaller-font;
          }

          .message-textarea {
              height: 300px;
          }

          .send-button-wrapper {
              width: 100%;
              text-align: center;
          }
      }
    }
}
