<div class="nav-wrapper content-padding" [class.white]="whiteNavBg" [class.transition]="bgTransition" [class.white-bg-mobile]="mobileNavigation">
  <!--
  <div class="name-wrapper">
    terapevtski atelje
  </div>
  -->
  <div class="logo-wrapper">
    <a href="/home"><img class="logo-img" src="assets/images/logo7.svg"/></a>
    
    <div class="name-wrapper">
      terapevtski atelje
    </div>
  
  </div>
      <!--
    <div class="name-wrapper">
      terapevtski atelje
    </div>
  -->

  <div class="links-wrapper" [class.visible-navigation]="mobileNavigation">
    <div class="link">
      <a href="/about" [class.active]="generalService.currentLink=='hypnosis'">hipnoza</a>
    </div>
    <div class="link">
      <a href="/therapy" [class.active]="generalService.currentLink=='therapy'">hipnoterapija</a>
    </div>
    <div class="link">
      <a href="/blog" [class.active]="generalService.currentLink=='blog'">blog</a>
    </div>
    <div class="link">
        <a href="/contact" [class.active]="generalService.currentLink=='contact'">kontakt</a>
    </div>


  <!--
    <div class="link">
      <a href="#"><fa name="facebook"></fa></a>
    </div>
    <div class="link">
      <a href="#"><fa name="instagram"></fa></a>
    </div>
  -->
  </div>

  <div class="nav-mobile-icon" (click)="toggleMobileNavigation()">
    <img class="nav-icon" src="assets/images/menu-icon.svg"/>
  </div>

  <div class="hypnosis-subnavigation" [class.white]="whiteNavBg" [class.transition]="bgTransition" [class.visible-hypnosis-subnavigation]="generalService.currentLink=='hypnosis'">
    <div class="subnavigation-links-wrapper" [class.visible-navigation]="mobileNavigation">
      <div class="subnavigation-link" [class.black]="whiteNavBg">
        <a href="/about" [class.active]="generalService.currentHypnosisSublink=='about-hypnosis'" [class.black]="whiteNavBg">o hipnozi</a>
      </div>
      <div class="subnavigation-link" [class.black]="whiteNavBg">
        <a href="/about-recordings" [class.active]="generalService.currentHypnosisSublink=='about-recordings'" [class.black]="whiteNavBg">o posnetkih</a>
      </div>
      <div class="subnavigation-link" [class.black]="whiteNavBg">
        <a href="/recordings" [class.active]="generalService.currentHypnosisSublink=='recordings'" [class.black]="whiteNavBg">posnetki</a>
      </div>
    </div>
  </div>
</div>