@import '../../../variables.scss';

.nav-wrapper {
    position: fixed;
    width: 100%;
    display: flex;
    height: $nav-height;
    justify-content: space-between;
    align-items: center;

    @include breakpoint-768 {
        &.white-bg-mobile {
            background-color: $white;
            //transition: background-color 0.3s;
        }
    }

    &.white {
        background-color: $white;
    }

    &.transition {
        transition: background-color 0.3s;
        @include breakpoint-768 {
            transition: background-color 0s;
        }
    }
    
    .name-wrapper {
        padding-left: calc(#{$nav-height} - 80px);
        font-family: OpenSans-Regular;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 570;
    }

    .logo-wrapper {
        display: flex;
        align-items: center;
        .logo-img {
            //height: calc(#{$nav-height} - 40px);
            height: calc(#{$nav-height} - 15px);
            width: auto;
        }

    }

    .links-wrapper {
        display: flex;
        padding-right: calc(#{$nav-height} - 80px);
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 5px;

        .link {
            margin-left: 40px;

            @include breakpoint-768 {
                margin-left: 0;
            }

            a {
                font-size: 18px;
            }

            &:first-of-type {
                margin-left: 0;
            }
        }

        @include breakpoint-768 {
            visibility: hidden;
            width: 0;
            overflow: hidden;
            display: none;
            z-index: 5;

            &.visible-navigation {
                visibility: visible;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: fixed;
                top: $nav-height;
                left: 0;
                width: 100vw;
                height: 90vh;
                background-color: $white;

                .link {
                    margin-top: 50px;
                }
            }
        }
    }

    .nav-mobile-icon {
        display: none;
    
        @include breakpoint-768 {
            cursor: pointer;
            //position: fixed;
            display: block;
            //right: 10px;
            //top: 10px;
        }
    }

    .hypnosis-subnavigation {
        display: none;
        position: fixed;
        top: $nav-height;
        right: 0;
        padding-right: calc(#{$nav-height} - 80px);
        padding-bottom: 20px;
        width: 100%;
        height: $subnav-height;

        &.visible-hypnosis-subnavigation {
            display: inline;
        }

        &.white {
            background-color: $white;
        }
    
        &.transition {
            transition: background-color 0.3s;
            @include breakpoint-768 {
                transition: background-color 0s;
            }
        }

        .subnavigation-links-wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            letter-spacing: 1px;
            //text-transform: uppercase;
            padding: 0 5px;

            .subnavigation-link {
                margin-left: 30px;
                
                @include breakpoint-768 {
                    margin-left: 0;
                }
    
                a {
                    font-size: 16px;
                }
            }
        }
    }
}

.active {
    padding: 5px;
    border: 1px solid $black;
}