@import '../../../variables.scss';

.nav-wrapper {
    position: fixed;
    width: 100%;
    display: flex;
    height: $nav-height;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;

    &.white {
        background-color: $white;
    }
    

    .name-wrapper {
        padding-left: calc(#{$nav-height} - 80px);
        font-family: Avenir-Regular;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 570;
    }

    .logo-wrapper {
        display: flex;
        align-items: center;
        .logo-img {
            height: calc(#{$nav-height} - 40px);
            width: auto;
        }

    }

    .links-wrapper {
        display: flex;
        padding-right: calc(#{$nav-height} - 80px);
        font-size: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 5px;

        .link {
            margin-left: 40px;

            &:first-of-type {
                margin-left: 0;
            }

            &.active-link {
                padding: 5px;

                //text-decoration: underline;
                border: 1px solid $black;
            }
        }
    }
}