@import '../../../variables.scss';

.nav-wrapper {
    position: fixed;
    width: 100%;
    display: flex;
    height: $nav-height;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    @include breakpoint-960 {
        &.white-bg-mobile {
            background-color: $white;
            //transition: background-color 0.3s;
        }
    }

    &.white {
        background-color: $white;
    }

    &.transition {
        transition: background-color 0.3s;
        @include breakpoint-960 {
            transition: background-color 0s;
        }
    }
    
    .name-wrapper {
        padding-left: calc(#{$nav-height} - 80px);
        font-family: OpenSans-Regular;
        font-size: $nav-font-size;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 570;
        font-family : Raleway-Regular;
    }

    .logo-wrapper {
        display: flex;
        align-items: center;
        .logo-img {
            height: calc(#{$nav-height} - 40px);
            //height: calc(#{$nav-height} - 15px);
            width: auto;
        }

    }

    .links-wrapper {
        display: flex;
        padding-right: calc(#{$nav-height} - 80px);
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 5px;

        .link {
            margin-left: 40px;

            @include breakpoint-960 {
                margin-left: 0;
            }

            a {
                font-size: $nav-font-size;

                &.active {
                    padding: 5px;
                    border: 1px solid $black;
                }
            }

            &:first-of-type {
                margin-left: 0;
            }
        }

        @include breakpoint-960 {
            visibility: hidden;
            width: 0;
            overflow: hidden;
            display: none;
            z-index: 5;

            &.visible-navigation {
                visibility: visible;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: fixed;
                top: $nav-height;
                left: 0;
                width: 100vw;
                height: 90vh;
                background-color: $white;

                .link {
                    margin-top: 50px;
                }
            }
        }
    }

    .nav-mobile-icon {
        display: none;
    
        @include breakpoint-960 {
            cursor: pointer;
            //position: fixed;
            display: block;
            //right: 10px;
            //top: 10px;
        }
    }

    .hypnosis-subnavigation {
        display: none;
        position: fixed;
        top: $nav-height;
        right: 0;
        padding-right: calc(#{$nav-height} - 80px);
        padding-bottom: 20px;
        width: 100%;
        height: $subnav-height;

        @include breakpoint-960 {
            padding-right: 0;
            margin: 0;
        }           


        &.visible-hypnosis-subnavigation {
            display: inline;
        }

        .subnavigation-links-wrapper {
            margin-top: 10px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: 0 5px; 

            @include breakpoint-768 {
                margin: 10px 1px 0 1px;
                justify-content: space-between;
                padding: 0 8px;
            }           

            .subnavigation-link {
                margin-left: 10px;
                padding: 2px 5px;
                transition: background-color 0.3s, outline-color 0.3s, border-color 0.1s;
                border: 1px solid transparent;
                outline: 3px solid transparent;
                cursor: pointer;

                @include breakpoint-768 {
                    padding: 1px 4px;
                    margin-left: 0;
                }

                &.black {
                    background-color: $black;
                    border: 1px solid $black;
                    outline: 3px solid $black;
                    

                    &.active {
                        border: 1px solid $white;
                        transition: border 0.3s;
                    }
                }

                &.active {
                    border: 1px solid $black;
                }
    
                a {
                    font-size: $nav-font-size;
                    color: $black;
                    transition: color 0.3s;

                    @include breakpoint-768 {
                        font-size: $smaller-font;
                    }  

                    &.black {
                        color: $white;
                    }
                }
            }
        }
    }
}