@import '../../variables.scss';

$blogpost-header-height: 70vh;

.blogpost-wrapper {
    min-height: 100vh;
    padding-top: $nav-height;

    .blogpost-header {
        height: $blogpost-header-height;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .blogpost-img-div {
            position: absolute;
            width: 100%;
            //position: fixed;
            z-index: -2;
            opacity: 0.75;
        
            .blogpost-img {
                width: 100%;
                height: $blogpost-header-height;
                object-fit: cover;
                overflow: hidden;
            }
        }

        .light-bg-div {
            display: none;
            height: $blogpost-header-height;
            width: 100%;
            position: absolute;
            background-color: $white;
            opacity: 0.3;
            z-index: -1;
        }

        .blogpost-category {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: OpenSans-Regular;
            font-size: $small-font;
        }
        .blogpost-title {
            margin: 10px 0;
            font-family: PlayfairDisplay-Regular;
            text-transform: uppercase;
            letter-spacing: 4px;
            font-size: 38px;
            text-align: center;
        }

        .blogpost-date {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: $small-font;
        }
    }

    .blogpost-content {
        padding: $content-padding 0;
        width: $narrower-width;
        margin: auto;

        @include breakpoint-960 {
            width: $narrow-width;
        }

        @include breakpoint-768 {
            width: 100%;
            padding: $content-padding $content-padding-mobile;
        }

        p {
            text-indent: 40px;
            text-align: justify;
        }

        .blogpost-quote {
            width: 50%;
            margin: 80px auto;

            @include breakpoint-960 {
                width: 100%;
            }

            .quote-line {
                margin: 40px 0;
                
                &.quote-line-top {
                    opacity: 0;
                }
                &.quote-line-bottom {
                    opacity: 0;
                }
            }
            
            .quote-text {
                text-align: center;
                font-size: $regular-font-size;
                opacity: 0;
                transform: translateX(-150px);
            }

            .quote-author {
                margin-top: 25px;
                text-align: right;
                color: $gray;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 14px;
                opacity: 0;
                transform: translateX(150px);
            }
        }

        .blogpost-gallery {
            margin-top: $content-padding;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .gallery-img-div {
                width: 100%; //49%
                margin-bottom: 30px;
                text-align: center;

                @include breakpoint-960 {
                    width: 100%;
                }

                .gallery-img {
                    width: 80%;
                    //height: 300px;
                    height: auto;
                    object-fit: cover;
                    overflow: hidden;

                    @include breakpoint-960 {
                        width: 100%;
                    }
                }
            }
        }

        .blogpost-next-previous-wrapper {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;

            .next-previous-button-div {
                button {
                    width: 150px;
                }
            }
        }
    }
}

.quote-animation {
    animation: quote 1.2s ease-out;
    animation-fill-mode: forwards;
}

.quote-animation-line {
    animation: quote 2s ease-out;
    animation-fill-mode: forwards;
}

@keyframes quote {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}