<div class="blogpost-wrapper">
    <div class="blogpost-header" *ngIf="currentBlog != null">
      <div class="blogpost-img-div">
          <img class="blogpost-img" src="assets/images/birds_blur.jpg">
      </div>
      <div class="light-bg-div">
      </div>
      <div class="blogpost-category">
        {{ datePipe() }} | {{getBlogCategory()}}
      </div>
      <div class="blogpost-title text">
        {{currentBlog.title}}
      </div>
      <div class="blogpost-subtitle subtitle-small">
        {{currentBlog.subTitle}}
      </div>

      <div class="blogpost-date">
       
      </div>
    </div>
    <div class="a"></div>
    <div *ngIf="currentBlog != null" [innerHTML]="currentBlogTest">
        
    </div>
    
</div>