<div class="hypnosis-wrapper">
  <div class="hypnosis-title">
    Hipnoza
  </div>
  <div class="hypnosis-inner-wrapper">
    <div class="categories-title title">
      Sugestije
    </div>
    <div class="categories-wrapper">
      <a href="">
        <div class="category-link link1">
          sproščanje
        </div>
      </a>
      <a href="">
        <div class="category-link link2">
            krepitev ega
        </div>
      </a>
      <a href="">
        <div class="category-link link3">
          prehranjevanje in telesna teža
        </div>
      </a>
    </div>
    <div class="about-hypnosis">
      Hipnoza je vsakdanji psihološki pojav, ki se pojavlja v veliko življenjskih situacijah (Soršak, 1998; The British Psychological Society, 2001), a ga ne prepoznamo kot hipnozo in ga s tem imenom niti ne poimenujemo (Soršak, 1998, 2013). Enotno mnenje, kaj hipnoza je, še ne obstaja (Fulder, 2014; Lynn in Kirsch, 2006; Soršak, 2013). 	
      Kljub temu pa lahko hipnozo na kratko opredelimo kot postopek, pri katerem hipnotizer sugerira hipnotizirani osebi, da bo doživela spremembe v občutenju, zaznavanju, čustvovanju, mišljenju in vedenju (Pajntar, Areh in Možina, 2013).
      Soršak (1998, 2013) navaja da je hipnoza vsestranska, »uporabljena je lahko za raziskovanje podzavestnih in nezavednih funkcij, razreševanje zgodovinskih dejavnikov in uporabljanje nezavednih virov« (Hammond, 2013, str. 3). 
      Do leta 2012 naj bi bilo objavljenih najmanj petsto raziskav o učinkovitosti hipnoze, rezultati kažejo, da lahko z gotovostjo potrdimo obstoj pozitivnega učinka hipnoze za zdravljenje veliko različnih zdravstvenih in psiholoških težav (Pajntar idr., 2013).    
    </div>
  </div>
</div>