@import '../../variables.scss';

.home-wrapper {
    /*padding-top: $nav-height;*/

    .home-img-div {
        width: 100%;
        padding-top: 50px;

        .home-img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            overflow: hidden;
            z-index: -1;
        }
    }

    .home-cover-text {

        position: absolute;
        top: #{$nav-height};
        right: 0;
        text-align: right;
        margin-top: 190px;
        margin-right: 40px;
        width: 100%;
        
        
        .home-text-1 {
            font-family: Montserrat-Regular;
            font-size: 60px;
            color: $white;
        }

        .home-text-2 {
            font-family: Montserrat-Regular;
            font-size: 40px;
            color: $white;
        }
    }

    .about-home {
        /*padding: $content-padding;*/
        width: $narrow-width;
        margin: auto;
        text-align: justify;


        .title {
            color: $dark-green;
        }
    }

    .hypnosis-home {
        width: $narrow-width;
        margin: auto;
        margin-top: $space-between-elements;
        text-align: center;

        .title {
            color: $dark-green;
        }

        .hypnosis-home-content {
            margin-top: $space-between-elements;
        }

        .hypnosis-home-button {
            margin-top: $space-between-elements;
        }
    }

    .blog-home {
        width: $narrow-width;
        margin: auto;
        margin-top: $space-between-elements;
        text-align: center;

        .title {
            margin-top: $space-between-elements;
            color: $dark-green;
        }
    }

    .deltoid-line {
        margin-top: $space-between-elements;
    }
}