@import '../../variables.scss';

.home-wrapper {
    /*padding-top: $nav-height;*/

    .home-img-div {
        width: 100%;

        .home-img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            overflow: hidden;
            z-index: -1;
        }
    }

    .home-content {
        padding: $content-padding;
        text-align: justify;

        .title {
            margin-bottom: $space-between-elements;
        }
    }
}