<div class="blog-wrapper">
    <div class="blog-form-wrapper">
      Dodajanje novega vpisa za blog
      <hr>
      <br/>
      <form name="blogpostForm" [formGroup]="blogpostForm">
          <div class="form-field cols">
            <label for="title" class="label">Naslov</label>
            <input type="text" id="title" class="input half" name="title" [formControl]="title">
          </div>
          <br/>

          <div class="form-field">
            <label for="subtitle" class="label">Podnaslov</label>
            <input type="text" id="subtitle" class="input half" name="subtitle" [formControl]="subtitle">
          </div>
          <br/>
          <div class="form-field">
            <label for="description" class="label">Opis</label>
            <input type="text" id="description" class="input half" name="description" [formControl]="description">
          </div>
          <br/>
          <div class="form-field">
              <label for="quoteAuthor" class="label">Ime avtorja citata</label>
              <input type="text" id="quoteAuthor" class="input half" name="quoteAuthor" [formControl]="quoteAuthor">
            </div>
            <br/>
          <div class="content">
            <div class="bigflex">
                <div class="contentContent content-field">
                    <label class="label">Vsebina:</label>
                    <button class="message input button-dark" (click)="addParagraphContentHTML()">Dodaj odstavek</button>
                    <button class="message input button-dark" (click)="addQuoteContentHTML()">Dodaj citat</button>
                    <textarea class="message input textfield" [formControl]="message"></textarea>
                    <button class="message input button-dark" (click)="reviewContentHTML()">Poglej vsebino</button>
                </div>
            </div>
            <div class="smallflex">
              <div class="content-elements-container smallflex">
                  <div *ngFor="let element of blogContent.elements">
                      {{element.id + 1}}. {{element.idval}}: {{element.val | slice:0:20}} -  <a class="content-element-delete" (click)="deleteContentElement(element.id)">Izbriši element</a>
                  </div>
                  <div *ngIf="blogContent.elements.length == 0">
                      Trenutno ni ničesar v blogu.
                  </div>
              </div>
            </div>
            

              
          </div>
          <br/>

          <div class="form-field">
            <label class="label">Kategorija:</label>
            <select type="text" class="input half" [(ngModel)]="category" [ngModelOptions]="{standalone: true}">
                <option value="hypnosis" selected>Zapisi o hipnozi</option>
                <option value="creative">Kreativne terapevtske tehnike</option>
                <option value="personal">Moja razmišljanja</option>
                <option value="rest">Ostalo</option>
              </select>
          </div>
          

          <br/>
          <div class="form-field">
            <label class="label">Barva:</label>
            <select type="text" class="input half" [(ngModel)]="colour" [ngModelOptions]="{standalone: true}">
                <option style="background-color: #D33F49" value="red" selected>Rdeča</option>
                <option style="background-color: #77BA99" value="green" >Zelena</option>
                <option style="background-color: #011936" value="blue" >Modra</option>
              </select>
          </div>

          <br/>
          <div>
            <input type="file" id="file-input" (change)="onFileInputChange($event.target.files)">
            <p id="status">{{uploadStatusMessage}}</p>
            <p id="status">Number of pictures: {{picUrls.length}}</p>
            <div class="image-pane">
                <div *ngFor="let pic of picUrls" class="image-element">
                    <i class="imgclear" (click)="clearImage(pic.url)">Remove picture</i>  
                    <img class="preview" [src]="pic.url">
                </div>
            </div>
            
          </div>
          <br/>
          <hr/>
          <button (click)="submitBlog()" class="message input button-dark" >Dodaj blog</button>
          <div *ngIf="response.status">{{response.message}}</div>
      </form>
      
    </div>
</div>
<div class="blogpost-wrapper">
  <div [innerHTML]="blogTestDisplay" style="border: 1px solid black; margin: 10px;">

  </div>
</div>