@import '../../../variables.scss';

.blog-wrapper {

    padding-top: $nav-height;

    .blog-form-wrapper {
        width: $narrow-width;
        margin: auto;

        .form-field {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .form-field .cols {
            width: 32%;
        }

        .image-pane {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            flex-flow: row wrap;
            align-content: flex-end;

            .image-element{

                height: 300px;
                width: 300px;

                .preview {
                    display: flex;
                    max-width: 250px;
                    max-height: 250px;
                    margin-top: 10px;
                    margin-bottom: 10px;

                }
    
                .imgclear {
                    cursor: pointer;
                }
                
            }

            
        }
        
    }
}