<div class="therapy-wrapper">
  <div class="bg-img-div">
    <img class="bg-img" src="assets/images/flowers_pink_blur.jpg">
  </div>
  <div class="home-cover-text page-title-div">
    <div class="title">
      individualno
    </div>
    <div class="title-line">
    </div>
    <div class="subtitle">
      Nekaj besed o poteku hipnoterapije
    </div>
  </div>
  <div class="therapy-inner-wrapper">
    <div class="therapy-content full-screen">
      <p class="therapy-text important-text">
          Hipnoterapija je uporaba terapevtskih tehnik v hipnotičnem stanju za obravnavo različnih zdravstvenih in psiholoških težav.
      </p>
      <div class="gradient-line therapy-line">
      </div>
      <div class="title-smaller therapy-title">
        Potek Hipnoterapije
      </div>
      <p class="therapy-text">
        Prvo srečanje je priložnost, da skozi pogovor o cilju terapije, ugotoviva, ali tvoja pričakovanja in moj način dela sovpadata in
        ali lahko skupaj ustvariva odnos, v katerem bo hipnoterapija učinkovita in pot do spremembe lahkotnejša. Uvodno srečanje omogoča pripravo
        individualnega terapevtskega načrta, sestavljenega iz kombinacije različnih tehnik in pristopov, ki so prilagojeni tvoji osebnosti, ciljem in
        pričakovanjem. Gre za sistematični in celostni pristop, ki vključuje raziskovalno delo, podoživljanje, preokvirjanje in druge specifične tehnike.
      </p>
      <p class="therapy-text">
        V sklopu vsake nadaljnje terapije pripravim različno gradivo, ki navadno vključuje preproste tehnike samohipnoze.
        Verjamem, da omenjene tehnike podprejo samo hipnoterapijo in tako pospešijo pot do želene spremembe. Po želji individualne hipnoterapije tudi
        posnamem, kar omogoča večkratno poslušanje.
      </p>
      <p class="therapy-text">
          Hipnoterapija navadno traja 45 minut, priporočena so tedenska srečanja. V primerjavi z drugimi terapijami je hipnoterapija hitra in učinkovita,
          število terapevtskih seans pa je odvisno predvsem od zastavljenih ciljev in stopnje klientove motiviranosti za spremembo.
          Individualne hipnoterapije potekajo v Ljubljani, za Bežigradom.
      </p>
      <p class="therapy-text">
          Pri svojem delu spoštujem etična načela, kot jih navaja etični kodeks Psihologov Slovenije.
          Omenjeni kodeks opredeljuje obseg in vsebino psihologove odgovornosti. S tem se zavezujem k spoštovanju človekovih pravic in dostojanstva,
          vzdržujem najvišjo raven pristojnosti, zavedam se svoje strokovne in poklicne odgovornosti ter spoštujem integriteto svojega poklica.
      </p>

      <div class="gradient-line therapy-line">
      </div>
      <div class="title-smaller therapy-title">
        Se individualna hipnoterapija razlikuje od zvočnih posnetkov?
      </div>
      <p class="therapy-text">
          Da, zelo. <a href="/zvocniposnetki"><span class="text-link">Zvočni posnetki</span></a> vsebujejo mnogo pozitivnih sugestij in vodenih vizualizacij,
          ki lahko služijo kot pomembna podpora pri spremembah, osebni rasti in samouresničevanju. Kljub temu pa zvočni posnetki nikakor ne služijo za klinično rabo,
          kot sredstvo za odpravljanje specifičnih težav in motenj.
      </p>
      <p class="therapy-text">
          Naj poudarim, da je hipnoterapija kompleksna psihološka metoda, katere učinkovitost temelji na razumevanju klientove osebnosti,
          njegovih življenjskih izzivov, želj in motivacije. Poleg tega je nabor uporabljenih tehnik v individualnih terapijah veliko širši,
          saj večina le teh zahteva dvosmerno komunikacijo, tako med samo hipnoterapijo kot tudi pred začetkom in koncem terapevtskega srečanja
      </p>
      <p class="therapy-text">
          Klient je v individualno hipnoterapijo vključen kot aktivni udeleženec, ki soustvarja terapevtski proces,
          kar v kombinaciji z vsem naštetim, omogoča sprotno spremljanje in prilagajanje terapevtskega procesa.
      </p>
    </div>
  </div>
</div>
