<div class="therapy-wrapper">

  <div class="therapy-inner-wrapper">
    <div class="therapy-content full-screen">
      <div class="title-smaller therapy-title">
        O MENI
      </div>
      <p class="therapy-text">
          Moje ime je Špela Verbnik. Trenutno zaključujem magistrski študij klinične psihologije na University of Bergamo, v Italiji.
           Od nekdaj sem želela bolje razumeti sebe in druge ter svet, v katerem živimo. Kmalu sem spoznala, da svet vidimo takšen kakršni smo sami,
           da ga doživljamo skozi sebe, svoja znanja, prepričanja, vrednote in izkušnje. Spraševala sem se, kako ustvarjamo svojo lastno
            percepcijo sveta in če le ta res nastaja v naši podzavesti, kako lahko dostopamo in vplivamo na ta skrivnostni in najgloblji del nas.
             Med iskanjem odgovorov na ta in mnoga druga vprašanja sem se srečala s hipnoterapijo, ki mi je v kombinaciji s poznavanjem psihologije,
             ponudila neskončne možnosti za raziskovanje človekove duševnosti.
      </p>
      <p class="therapy-text">
          Izobraževanja in usposabljanja
      </p>

        <ul class="therapy-text">
          <li>Diploma iz biopsihologije, FAMNIT, Slovenija, 2013-2017 </li>
          <li>Diploma iz medicinske hipnoze, Društvo za medicinsko hipnozo Slovenije, 2017 </li>
          <li>Edukacija iz kreativne psihoterapije, Tallin University, Estonija, 2018 </li>
          <li>Edukacija iz zvočne terapije, International Academy of Sound Healing, New York, 2018 </li>
          <li>Edukacija iz samohipnoze, American Society of Clinical Hypnosis, New York, 2018 </li>
        </ul>


      <p class="therapy-text">
          Svoja znanja združujem v vodenih terapevtskih meditacijah, skozi katere prepletam (spoz)znanja psihologije, (hipno)terapije in uporabe terapevtskih glasbil.
      </p>

      <div class="img-signature-wrapper">
          <div class="spela-img-div">
            <img class="spela-img" src="assets/images/dfs3rz/about_me_img.jpg">
          </div>
          <div class="signature-wrapper">

          <div class="about-signature">
            <img class="about-signature-img" src="assets/images/podpis.svg">
          </div>
        </div>
        </div>
    </div>
  </div>
</div>
