<div class="therapy-wrapper">
  <div class="bg-img-div">
    <img class="bg-img" src="assets/images/sea_blur.jpg">
  </div>
  <div class="home-cover-text page-title-div">
    <div class="title">
      Hipnoterapija
    </div>
    <div class="title-line">
    </div>
    <div class="subtitle">
      Kaj je hipnoterapija, kako poteka?
    </div>
  </div>
  <div class="therapy-inner-wrapper">
    <div class="therapy-content full-screen">
      <p class="therapy-text">  
      Moji zvočni posnetki hipnotičnih seans so učinkovito orodje, ki vam s pomočjo vaše podzavesti pomagajo, da dosežete kar želite. Kljub temu pa je hipnoterapija veliko bolj učinkovita kadar je prilagojena posamezniku. V ta namen vodim individualne hipnoterapije. Po mojih izkušnjah so le te še bolj učinkovite, saj upoštevam klientove motivacije, osebnost, zanimanja in nagnjenja ter tako prilagodim sugestije in metafore. Poleg tega je nabor uporabljenih tehnik veliko širši, saj je pri mnogih opazovanje klienta ključno. Po dogovoru individualne terapije tudi posnamem in svetujem glede poslušanja posnetkov na tej strani. 
      </p>
      <p class="therapy-text">
      Pri svojem delu spoštujem etična načela, kot jih navaja etični kodeks Psihologov Slovenije. Omenjen kodeks opredeljuje obseg in vsebino psihologove odgovornosti. S tem se zavezujem k spoštovanju človekovih pravic in dostojanstva, vzdržujem najvišjo raven pristojnosti, zavedam se svoje strokovne in poklicne odgovornosti ter spoštujem integriteto svojega poklica.  
      </p>
      <p class="therapy-text">
      Vabljeni, da mi pišete v kolikor imate kakršnakoli dodatna vprašanja (kontakt). 
      </p>
    </div>
  </div>
</div>