<div class="recording-wrapper">
    <div class="recording-inner-wrapper">
      <div class="recording-header">
        <div class="recording-header-icon-div">
          <!--my-body  svg -->
          <svg *ngIf="recordingTitle=='Moje telo'" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100">
            <path class="icon-svg my-body" fill="#ffffff" stroke-width="3px" d="M81.492,37.399C81.492,54.791,50,76.412,50,76.412S18.508,54.791,18.508,37.399c0-14.704,14.621-19.506,31.491-2.636 C68.057,16.707,81.492,22.695,81.492,37.399z"/>
            <defs>
              <linearGradient id="grad-my-body">
                <stop offset="0%" stop-color="#c1c3e2"/>
                <stop offset="80%" stop-color="#ddb4d4"/>
              </linearGradient>
            </defs>
          </svg>
          <!--end my-body  svg -->
          <!--me svg -->
          <svg *ngIf="recordingTitle=='Jaz'" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px"
          width="100px" height="100px" viewBox="0 0 100 100">
            <circle class="icon-svg me" fill="#ffffff" stroke-width="0px" stroke-miterlimit="10px" cx="50" cy="50" r="29.867"/>
            <defs>
              <linearGradient id="grad-me">
                <stop offset="0%" stop-color="#c1c3e2"/>
                <stop offset="80%" stop-color="#ddb4d4"/>
              </linearGradient>
            </defs>
          </svg>
          <!--end me  svg -->
          <!--self-confidence  svg -->
          <svg *ngIf="recordingTitle=='Samozavest'"version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100">
            <polygon class="icon-svg self-confidence" fill="#ffffff" stroke-width="3px" points="50,19.625 59.87,39.623 81.938,42.83 65.97,58.396 69.74,80.375 50,69.998 30.262,80.375 34.032,58.396 18.063,42.83 40.131,39.623"/>
            <defs>
              <linearGradient id="grad-self-confidence">
                <stop offset="0%" stop-color="#aad6a7"/>
                <stop offset="80%" stop-color="#ddb4d4"/>
              </linearGradient>
            </defs>
          </svg>
          <!--end self-confidence  svg -->
        </div>
        <div class="recording-header-text title-medium">
          {{recordingTitle}}
        </div>
      </div>
      <!--
      <div class="gradient-line-right recording-line">
      </div>
      -->
      <div class="recording-content">
        <div *ngFor='let element of recordingDescription' [innerHTML]="element.text">
        </div>
      </div>
      <div class="select-recording-wrapper">
        <div class="recordings-list">
          <div *ngFor='let element of recordings' class="recording-element" [class.active]="element.show" (click)="elementClicked(element)">
            <div class="recording-element-title">
              {{element.title}}
            </div>
          </div>
        </div>
        <div class="selected-recording-content-wrapper">
          <div class="selected-recording-title">
            {{currentlyShownElement.title}}
          </div>
          <div class="selected-recording-text">
            <div [innerHTML]="currentlyShownElement.description">
            </div>   
          </div>
          <div class="selected-recording-mix">
            <div *ngIf="recordingTitle === 'Moje telo'" (click)="displayPopup()">
              <div *ngIf="currentlyShownElement.title === 'Grajska pot'">
                <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FTerapevtskiAtelje%2Fgrajska-pot-ona%2F" frameborder="0" ></iframe>
                <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FTerapevtskiAtelje%2Fgrajska-pot-on%2F" frameborder="0" ></iframe>
              </div>
              <div *ngIf="currentlyShownElement.title === 'Prehranjevanje je umetnost'">
                <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FTerapevtskiAtelje%2Fprehranjevanje-je-umetnost-ona%2F" frameborder="0" ></iframe>
                <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FTerapevtskiAtelje%2Fprehranjevanje-je-umetnost-on%2F" frameborder="0" ></iframe>
              </div>
              <div *ngIf="currentlyShownElement.title === 'Brez hrepenenj'">
                <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FTerapevtskiAtelje%2Fbrez-hrepenenj-ona%2F" frameborder="0" ></iframe>
                <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FTerapevtskiAtelje%2Fbrez-hrepenenj-on%2F" frameborder="0" ></iframe>
              </div>
            </div>

            <div *ngIf="recordingTitle === 'Jaz'">
              <div *ngIf="currentlyShownElement.title === 'Kamenčki za spremembe'">
                <div class="selected-recording-popup-blocker" [hidden]="currentlyShownElement.blockerShown" (click)="popUpClick()">
                  Neki za čez
                </div>
                <div class="selected-recordings-list">
                    <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FTerapevtskiAtelje%2Fkamencki-za-spremembe-ona%2F" frameborder="0" ></iframe>
                    <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FTerapevtskiAtelje%2Fkamencki-za-spremembe-on%2F" frameborder="0" ></iframe>
                </div>
                
              </div>
              <div *ngIf="currentlyShownElement.title === 'Rdeč balon'">
                <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FTerapevtskiAtelje%2Frde%C4%8D-balon-ona%2F" frameborder="0" ></iframe>
                <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FTerapevtskiAtelje%2Frde%C4%8D-balon-on%2F" frameborder="0" ></iframe>
              </div>
              <div *ngIf="currentlyShownElement.title === 'Kraj Vedrine'">
                <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FTerapevtskiAtelje%2Fkraj-vedrine-ona%2F" frameborder="0" ></iframe>
                <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FTerapevtskiAtelje%2Fkraj-vedrine-on%2F" frameborder="0" ></iframe>
              </div>

            </div>

            <div *ngIf="recordingTitle === 'Samozavest'">
              <div *ngIf="currentlyShownElement.title === 'Veličastno Drevo'">
                <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FTerapevtskiAtelje%2Fveli%C4%8Dastno-drevo-ona%2F" frameborder="0" ></iframe>
                <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FTerapevtskiAtelje%2Fveli%C4%8Dastno-drevo-on%2F" frameborder="0" ></iframe>
              </div>
              <div *ngIf="currentlyShownElement.title === 'Varna Soba'">
                  <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FTerapevtskiAtelje%2Fvarna-soba-ona%2F" frameborder="0" ></iframe>
                  <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FTerapevtskiAtelje%2Fvarna-soba-on%2F" frameborder="0" ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>