@import '../../../variables.scss';

.recording-wrapper {
    
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    .recording-inner-wrapper{
        margin-top: calc(#{$nav-height} + #{$subnav-height} + #{$content-padding});
        width: 100%;

        .recording-header {
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            //background-color: #ceddef;
            //background: linear-gradient(to right,  #ceddef, #a8f4c1, #ceddef);
            //background: linear-gradient(to right,  $white, #ceddef, $white);

            .recording-header-icon-div {

            }

            .recordings-header-text {
                font-family: OpenSans-Semibold;
                font-size: 20px;
                text-transform: uppercase;
            }
        }

        .recording-content {
            width: $narrower-width;
            margin: auto;
            padding: $content-padding 0;
            text-align: justify;

            @include breakpoint-960 {
                width: 100%;
                padding: $content-padding;
            }
        }

        .select-recording-wrapper {

            .recordings-list {
                width: $narrow-width;
                margin: 50px auto 0 auto;
                display: flex;
                justify-content: center;

                @include breakpoint-960 {
                    flex-direction: column;
                    align-items: center;
                }

                .recording-element {
                    width: 230px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;   
                    padding: 0 10px 10px 10px;
                    text-transform: uppercase;
                    cursor: pointer; 

                    border-bottom: 6px solid transparent;
                    border-image: linear-gradient(to right, $pastel-pink 0%, $pastel-purple 20%, $pastel-blue 40%, $pastel-green 60%, $pastel-blue 80%, $pastel-purple 95%, $pastel-pink 100%);
                    border-image-slice: 1;

                    @include breakpoint-960 {
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-image: linear-gradient(to bottom, $pastel-pink 0%, $pastel-purple 20%, $pastel-blue 40%, $pastel-green 60%, $pastel-blue 80%, $pastel-purple 95%, $pastel-pink 100%);
                        border-image-slice: 1;
                        border-bottom: none;
                        padding: 20px 0;
                    }

                    &.active {
                        border-bottom: 6px solid $black;
                        border-image: none;

                        @include breakpoint-960 {
                            border-left: 6px solid $black;
                            border-right: 6px solid $black;
                            border-bottom: none;
                        }
                    }

                    &:hover {
                        border-bottom: 6px solid $black;
                        border-image: none;

                        @include breakpoint-960 {
                            border-left: 6px solid $black;
                            border-right: 6px solid $black;
                            border-bottom: none;
                        }
                    }
                    
                    .recording-element-title {
                        letter-spacing: 2px;
                        font-size: $small-font;

                        &.active  {
                            color: $black;
                        }
                    }
                }
            }
            
            .select-recording-line {
                width: 700px;
                margin: 20px auto;
                background: $light-gray;
            }  

            .selected-recording-content-wrapper {
                width: $narrower-width;
                margin: $content-padding auto;

                @include breakpoint-960 {
                    width: 100%;
                    padding: $content-padding;
                    margin: 0 auto;
                }

                .selected-recording-title {
                    margin-bottom: 20px;
                    text-align: center;
                    letter-spacing: 2px;
                    font-size: $big-font;
                    text-transform: uppercase;
                    font-family: OpenSans-Semibold;
                }

                .selected-recording-text {
                    text-align: justify;
                }

                .selected-recording-mix {
                    margin: 30px auto;
                    width: $narrower-width;

                    @include breakpoint-960 {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.icon-svg {
    fill: url(#MyGradient);

    &.me {
        fill: url(#MyGradientMe);
    }
}