@import '../../../variables.scss';

.recording-wrapper {
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .recording-inner-wrapper{
        margin-top: calc(#{$nav-height} + #{$subnav-height} + #{$content-padding});
        width: 100%;

        .recording-header {
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .recordings-header-text {
                font-family: OpenSans-Semibold;
                font-size: 20px;
                text-transform: uppercase;
            }
        }

        .recording-content {
            width: $narrower-width;
            margin: auto;
            padding: $content-padding 0;
            text-align: justify;

            @include breakpoint-960 {
                width: 100%;
                padding: $content-padding;
            }

            @include breakpoint-768 {
                width: 100%;
                padding: $content-padding $content-padding-mobile;
            }
    
        }

        .select-recording-wrapper {

            .recordings-list {
                width: $narrow-width;
                margin: 50px auto 0 auto;
                display: flex;
                justify-content: center;

                @include breakpoint-960 {
                    flex-direction: column;
                    align-items: center;
                }

                .recording-element {
                    width: 230px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;   
                    padding: 0 10px 10px 10px;
                    text-transform: uppercase;
                    cursor: pointer; 
                    border-style: solid;
                    border-width: 0 0 6px 0;
                    border-image: linear-gradient(to right, $pastel-pink 0%, $pastel-purple 20%, $pastel-blue 40%, $pastel-green 60%, $pastel-blue 80%, $pastel-purple 95%, $pastel-pink 100%);
                    border-image-slice: 1;

                    @include breakpoint-960 {
                        border-width: 0 6px 0 6px;
                        border-image: linear-gradient(to bottom, $pastel-pink 0%, $pastel-purple 20%, $pastel-blue 40%, $pastel-green 60%, $pastel-blue 80%, $pastel-purple 95%, $pastel-pink 100%);
                        border-image-slice: 1;
                        padding: 20px 0;
                    }

                    &.active {
                        border-color: $black;
                        border-image: none;
                    }

                    &:hover {
                        border-color: $black;
                        border-image: none;
                    }
                    
                    .recording-element-title {
                        letter-spacing: 2px;
                        font-size: $small-font;

                        &.active  {
                            color: $black;
                        }
                    }
                }
            }
            
            .select-recording-line {
                width: 700px;
                margin: 20px auto;
                background: $light-gray;
            }  

            .selected-recording-content-wrapper {
                width: $narrower-width;
                margin: $content-padding auto;

                @include breakpoint-960 {
                    width: 100%;
                    padding: $content-padding;
                    margin: 0 auto;
                }

                @include breakpoint-768 {
                    padding: $content-padding $content-padding-mobile;
                }
        

                .selected-recording-title {
                    margin-bottom: 20px;
                    text-align: center;
                    letter-spacing: 2px;
                    font-size: $big-font;
                    text-transform: uppercase;
                    font-family: OpenSans-Semibold;
                }

                .selected-recording-text {
                    text-align: justify;
                }

                .selected-recording-mix {
                    margin: 30px auto;
                    width: $narrower-width;

                    @include breakpoint-960 {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.icon-svg {
    &.me {
        fill: url(/zvocniposnetki/jaz#grad-me);
    }

    &.my-body {
        fill: url(/zvocniposnetki/mojetelo#grad-my-body);
    }

    &.self-confidence {
        fill: url(/zvocniposnetki/samozavest#grad-self-confidence);
    }
}

.selected-recording-popup-blocker{
    position: absolute; 
    cursor: pointer;
    height:140px; 
    z-index: 5; 
    width: $narrower-width;

    &.hidden {
        display: none;
    }

    @include breakpoint-960 {
        width: calc(100vw - 2 * #{$content-padding});
        
    }

    @include breakpoint-768 {
        width: 90%;
    }
}

.selected-recordings-list{
    position: relative;
}

$popup-width: 500px;
$popup-height: 350px;

.popup {
    position: fixed;
    top: 15%;
    left: calc(50% - #{$popup-width}/2);
    width: $popup-width;
    height: $popup-height;
    background-color: $white;
    color: $black;
    z-index: 6;
    padding: 20px;

    @include breakpoint-768 {
        width: 80%;
        height: 400px;
        margin: auto;
        top: calc(#{$nav-height} + 10px);
        left: 10%;
    }

    &.hidden {
        display: none;
    }

    .popup-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        height: 100%;
    }

    p {
        line-height: 17px;
    }

    button {
        margin-top: 20px;
        width: 100px;
    }
}