<div class="event-wrapper">
  <div class="bg-img-div">
    <img class="bg-img" src="assets/images/forest_blur.jpg">
  </div>
  <div class="home-cover-text page-title-div">
    <div class="title">
      Dogodki
    </div>
    <div class="title-line">
    </div>
    <div class="subtitle">
      Srečanja in delavnice
    </div>
  </div>
  <div class="event-content">
      <div class="event-posts-wrapper">
          <div *ngFor='let event of arrEvents' class="event-element" (click)="redirectToEvent(event)">
              <div class="event-break-element"></div>
            <div class="event-element-img-div">
              <img *ngIf="event.pictures.length == 0" class="event-element-img" src="assets/images/forest_blur.jpg">
              <img *ngIf="event.pictures.length > 0"  class="event-element-img" [src]="event.pictures[0].url">
            </div>
            <div class="event-element-rest-div">
              <div class="event-element-title">
                {{event.title}}
              </div>
              <div class="event-element-date">
                {{generalService.datePipe(event)}}
              </div>
              <div class="event-element-description">
                  {{event.description}}
              </div>
            </div>
            <div class="event-break-element"></div>
            <div class="thin-black-line">
              </div>


        </div>
    </div>
  </div>
</div>
