@import '../../variables.scss';

/*
p {
    text-indent: 50px;
}
*/

.event-wrapper{

    .bg-img{

    }

    .title-line {
        width: 270px;

        @include breakpoint-768 {
            width: 140px;
            margin-bottom: 5px;
        }
    }

    .event-content {

        background-color: $white;
        padding: $content-padding 0;

        .event-posts-selected {
          display: none;
        }

        .events-tabs{
          width: 80%;
          margin: auto;
          font-family: PlayfairDisplay-Regular;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 35px;
          text-align: center;

          .event-current-tab {
            float: left;
          }
          .event-past-tab {
            float:right;
          }

          .event-tab {
            width: 50%;
            height: $content-padding;
            cursor: pointer;
            padding-bottom: $content-padding;
          }
          .event-tab-selected {

            background: rgba(229,233,252,0.6);
            background: -moz-linear-gradient(top, rgba(229,233,252,0.6) 0%, rgba(255,255,255,1) 100%);
            background: -webkit-gradient(top, color-stop(0%, rgba(229,233,252,0.6)), color-stop(100%, rgba(255,255,255,1)));
            background: -webkit-linear-gradient(top, rgba(229,233,252,0.6) 0%, rgba(255,255,255,1) 100%);
            background: -o-linear-gradient(top, rgba(229,233,252,0.6) 0%, rgba(255,255,255,1) 100%);
            background: -ms-linear-gradient(top, rgba(229,233,252,0.6) 0%, rgba(255,255,255,1) 100%);
            background: linear-gradient(to top, rgba(229,233,252,0.6) 0%, rgba(255,255,255,1) 100%);
          }
        }

        .event-element {
          width: $narrower-width;
          @include breakpoint-768 {
            width:100%;
          }

          .event-element-img-div {
            display: inline-block;
            width: 100%;
            @include breakpoint-960 {
              margin-bottom: 30px;
            }


            .event-element-date-div {
              width: 100%;
              //background-color: #E5E9FC;
              border: 1px solid black;
              max-width: 400px;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;

              @include breakpoint-960 {
                  width: 100%;
                  max-width: 1000px;
              }

              .event-date-day {
                font-size: 450%;
                line-height: inherit;
                height: 50%;
                font-family: PlayfairDisplay-Regular;
              }
              .event-date-month {
                font-size: 300%;
                line-height: inherit;
                height: 50%;
                font-family: PlayfairDisplay-Regular;
              }
            }
          }

          .event-element-rest-div {
            text-align: left;
            padding-left: 5%;

          }

          .thin-black-line {
            margin-top: 5%;
          }
        }

        .blog-line {
            width: $narrow-width;
            margin: 60px auto;
        }
        .event-posts-wrapper{
          padding-top: $content-padding;
            .blog-element{
                cursor: pointer;
            }
        }
    }
}

.panel-animation-fadein {
  animation: fadein 2s;
}
.panel-animation-fadeout {
  animation: fadeout 2s;
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to  {
    opacity: 0;
  }
}
