@import '../../variables.scss';

/*
p {
    text-indent: 50px;
}
*/

.event-wrapper{
    .title-line {
        width: 270px;

        @include breakpoint-768 {
            width: 140px;
            margin-bottom: 5px;
        }
    }

    .event-content {

        background-color: $white;
        padding: $content-padding 0;

        .event-element {
          width: $narrower-width;


          .event-element-img-div {
            display: inline-block;
            width: 100%;
            @include breakpoint-960 {
              margin-bottom: 30px;
            }


            .event-element-date-div {
              width: 100%;
              background-color: #E5E9FC;
              border: 1px solid black;
              max-width: 400px;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;

              @include breakpoint-960 {
                  width: 100%;
                  max-width: 1000px;
              }

              .event-date-day {
                font-size: 450%;
                line-height: inherit;
                height: 50%;
                font-family: PlayfairDisplay-Regular;
              }
              .event-date-month {
                font-size: 300%;
                line-height: inherit;
                height: 50%;
                font-family: PlayfairDisplay-Regular;
              }
            }
          }

          .event-element-rest-div {
            text-align: left;
            padding-left: 5%;

          }

          .thin-black-line {
            margin-top: 5%;
          }
        }

        .blog-line {
            width: $narrow-width;
            margin: 60px auto;
        }
        .event-posts-wrapper{
            .blog-element{
                cursor: pointer;
            }
        }
    }
}
