@import '../../variables.scss';

.recordings-wrapper {
    padding-top: $nav-height;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .recordings-content {
        width: $narrow-width;
        min-height: 90vh;
        padding-top: 100px;

        .recordings-title {
            margin-bottom: 50px;
            width: 100%;
            text-align: center;
        }

        .recordings-elements-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            @include breakpoint-768 {
                flex-direction: column;
            }

            .recordings-element {
                width: 200px;
                height: 150px;
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: border-width 0.3s;

                @include breakpoint-768 {
                    margin-bottom: 50px;
                }

                &:hover {
                    .icon-svg {
                        stroke: $black;
                    }
                }

                .recordings-element-title {
                    font-family: OpenSans-Semibold;
                    font-size: $small-font;
                    letter-spacing: 1px;
                }
            }
        }
    }
}

.icon-svg {
    stroke: url(/recordings#grad);

    &.me {
        stroke: url(/recordings#grad-me);
    }
}
