<div class="recordings-wrapper">
  <div class="recordings-content">
    <div class="recordings-elements-wrapper">
      <a href='/recording'>
      <div class="recordings-element">
        <div class="recordings-element-img-div">
          <img class="recordings-element-img" src="assets/images/icon-depression4.svg">
        </div>
        <div class="recordings-element-title">
            Samozavest
        </div>
      </div>
      </a>
      <div class="recordings-element">
        <div class="recordings-element-img-div">
          <img class="recordings-element-img" src="assets/images/icon-me4.svg">
        </div>
        <div class="recordings-element-title">
            Jaz
        </div>
      </div>
      <div class="recordings-element">
        <div class="recordings-element-img-div">
          <img class="recordings-element-img" src="assets/images/icon-body4.svg">
        </div>
        <div class="recordings-element-title">
            Moje telo
        </div>
      </div>
    </div>
  </div>
</div>
