@import '../../variables.scss';

/*
p {
    text-indent: 50px;
}
*/

.blog-wrapper{
    .title-line {
        width: 170px;

        @include breakpoint-768 {
            width: 140px;
            margin-bottom: 5px;
        }
    }

    .blog-content {

        background-color: $white;
        padding: $content-padding 0;

        .blog-filter {
            width: $narrow-width;
            margin: auto;
            margin-bottom: 50px;

            .blog-search {
                margin-bottom: 40px;
                width: 100%;
                text-align: center;

                .blog-input {
                    width: 30%;
                    margin: auto;
                    padding: 10;
                    background-image:url(/assets/images/search.svg); 
                    background-repeat: no-repeat; 
                    background-position: 10px 10px;
                    background-size: 30px 30px;
                    text-indent: 40px;
                    border: none;
                    border-bottom: 1px solid $black;
                    font-size: 20px;
                    transition: width 0.3s;

                    @include breakpoint-960 {
                        width: 60%;
                    }

                    &:focus {
                        width: 40%;

                        @include breakpoint-960 {
                            width: 90%;
                        }
                    }

                    &::placeholder {
                        //color: #7E9CC1;
                        color: $gray;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-size: $smaller-font;
                    }
                }

            }

            .blog-category-search {

                .category-label {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: $small-font;
                    text-align: center;

                    @include breakpoint-960 {
                        text-align: center;
                    }
                }

                .category-checkboxes {
                    //height: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 20px 0;

                    @include breakpoint-960 {
                        //flex-wrap: wrap;
                        flex-direction: column;
                        align-items: left;
                        margin-left: 25vw;
                    }

                    /* Customize the label (the container) */
                    .checkbox-container {
                        display: block;
                        position: relative;
                        padding-left: 35px;
                        margin-bottom: 12px;
                        cursor: pointer;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        padding-right: 35px;
                        font-size: $small-font;
                    }
                    
                    /* Hide the browser's default checkbox */
                    .checkbox-container input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                    }
                    
                    /* Create a custom checkbox */
                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 25px;
                        width: 25px;
                        background-color: $white;
                        border: 1px solid $black;
                        transition: background-color 0.3s;
                    }
                    
                    /* On mouse-over, add a grey background color */
                    .checkbox-container:hover input ~ .checkmark {
                        background-color: $black;
                    }
                    
                    /* When the checkbox is checked, add a blue background */
                    .checkbox-container input:checked ~ .checkmark {
                        background-color: $black;
                    }
                    
                    /* Create the checkmark/indicator (hidden when not checked) */
                    .checkmark:after {
                        content: "";
                        position: absolute;
                        display: none;
                    }
                    
                    /* Show the checkmark when checked */
                    .checkbox-container input:checked ~ .checkmark:after {
                        display: block;
                    }
                    
                    /* Style the checkmark/indicator */
                    .checkbox-container .checkmark:after {
                        left: 9px;
                        top: 5px;
                        width: 5px;
                        height: 10px;
                        border: solid white;
                        border-width: 0 3px 3px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                }
            }

            .blog-search-button {
                margin-top: 30px;
                width: 100%;
                text-align: center;

                @include breakpoint-960 {
                    margin-bottom: 100px;
                }
            }

        }

        .blog-line {
            width: $narrow-width;
            margin: 60px auto;
        }
    }
}