<div class="blog-wrapper">
  <div class="bg-img-div">
    <img class="bg-img" src="assets/images/sea_blur.jpg">
  </div>
  <div class="home-cover-text page-title-div">
    <div class="title">
      Blog
    </div>
    <div class="title-line">
    </div>
    <div class="subtitle">
      To je blog...
    </div>
  </div>
  <div class="blog-posts-wrapper">
    <div *ngFor='let element of posts' class="blog-post">
      <div class="blog-color-div"> 
      </div>
      <div class="blog-title">
        {{element.title}}
      </div>  
      <div class="blog-subtitle">
        {{element.subtitle}}
      </div>
      <div class="blog-date">
        {{element.date}}
      </div>
      <div class="blog-date">
        {{element.category}}
      </div>
    </div>
  </div>
</div>
