<div class="blog-wrapper">
  <div class="bg-img-div">
    <img class="bg-img" src="assets/images/flowers_blur.jpg">
  </div>
  <div class="home-cover-text page-title-div">
    <div class="title">
      Blog
    </div>
    <div class="title-line">
    </div>
    <div class="subtitle">
      Moji zapisi in razmišljanja
    </div>
  </div>
  <div class="blog-content">
    <div class="blog-filter">
        <div class="blog-search">
          <input class="input blog-input" placeholder="Iskanje" [(ngModel)]="searchTerm"/>
        </div>
        <div class="blog-category-search">
          <div class="category-label">Kategorije</div>
          <div class="category-checkboxes">
            <label class="checkbox-container">Zapisi o hipnozi
                <input type="checkbox" checked="checked" [(ngModel)]="searchCategory.hypnosis">
                <span class="checkmark"></span>
              </label>
              
              <label class="checkbox-container">Kreativne terapevtske tehnike
                <input type="checkbox"  [(ngModel)]="searchCategory.creative">
                <span class="checkmark"></span>
              </label>
              
              <label class="checkbox-container">Moja razmišljanja
                <input type="checkbox"  [(ngModel)]="searchCategory.personal">
                <span class="checkmark"></span>
              </label>
              <label class="checkbox-container">Ostali navdihi
                <input type="checkbox"  [(ngModel)]="searchCategory.rest">
                <span class="checkmark"></span>
              </label>
            </div>
        </div>
        <div class="blog-search-button">
          <button class="button-dark" (click)="filterBlogs()">Išči</button>
        </div>
    </div>
    <div class="gradient-line-right blog-line">
    </div>
    <div class="blog-posts-wrapper">
      <div *ngFor='let element of posts' class="blog-element">
            <div class="blog-element-img-div">
              <img class="blog-element-img" src="assets/images/forest_blur.jpg">
            </div>
            <div class="blog-element-category">
              {{element.category}}
            </div>
            <div class="blog-element-title">
              {{element.title}}
            </div>
            <div class="blog-element-date">
              18. MAREC 2018
            </div>
            <div class="thin-black-line">
            </div>
            <div class="blog-element-description">
                  {{element.subtitle}} 
            </div>
        </div>
    </div>
  </div>
</div>
