@import '../../variables.scss';

.blog-wrapper{

    .blog-posts-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .blog-post {
            margin-bottom: 20px;
            width: 32%;
            background-color: #CEB5FF;

            .blog-color-div {
                height: 100px;
                width: 100%;
                background-color: #8C7BAD;
            }
            
            .blog-title {
                font-family: PlayfairDisplay-Bold;
                font-size: 30px;
            }

            .blog-subtitle {
                font-size: 20px;
            }

        }
    }
}