@import 'variables.scss';

* {
	box-sizing: border-box;
    -webkit-appearance: none;
    color: $black;
    font-family: OpenSans-Light;
    font-size: 20px;
    margin: 0;
}

a {
    text-decoration: none;
}

.title {
    font-family: PlayfairDisplay-Regular;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.subtitle {
    font-family: OpenSans-Light;
    font-size: 30px;
    letter-spacing: 3px;
}

.title-small {
    font-family: PlayfairDisplay-Regular;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.title-smaller {
    font-family: PlayfairDisplay-Regular;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.title-margin {
    margin-bottom: 20px;
}

.content-padding {
    padding: 20px;
}

.title-line {
    height: 1px;
    width: 200px;
    background-color: $black;
}

//---------- BUTTONS, INPUT FIELDS, LABELS
.button-light {
    padding: 10px 10px;
    min-width: 100px;
    border: 1px solid $black;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: $white;
    transition: 0.2s;

    &:hover {
        letter-spacing: 5px;
        cursor: pointer;
    }
}

.input {
    padding: 10px;
    border: 2px solid $gray;
    outline: none; 

    &:focus {
        border: 2px solid $light-green;
        /*background-color: $very-light-green;*/
    }
}

.label {
    
}
//----------

//---------- BACKGROUND IMG

.bg-img-div {
    width: 100%;
    position: fixed;
    z-index: -1;

    .bg-img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        overflow: hidden;
    }
}

//---------- FULL-SCREEN-DIV

.full-screen {
    min-height: 100vh;
    width: 100%;
}

.page-title-div {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote {
    letter-spacing: 2px;
}

//---------- DELTOID LINE

.deltoid-line-dark-green {
    height: 13px;
    background-image: url("/assets/images/deltoid-dark-green.svg");
}

.deltoid-line-light-green {
    height: 13px;
    background-image: url("/assets/images/deltoid-light-green.svg");
}

.deltoid-line-dark-green-light-bg {
    height: 13px;
    background-image: url("/assets/images/deltoid-dark-green-light-bg.svg");
}
//----------
