@font-face {
    font-family: OpenSans-Light;
    src: url("/assets/fonts/OpenSans-Light.woff") format("woff");
}

@font-face {
    font-family: OpenSans-Regular;
    src: url("/assets/fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
    font-family : Montserrat-Regular;
    src         : url("/assets/fonts/MontserratRegular.woff") format("woff");
}

@font-face {
    font-family : PlayfairDisplay-Regular;
    src         : url("/assets/fonts/PlayfairDisplay-Regular.woff") format("woff");
}

@font-face {
    font-family : PlayfairDisplay-Bold;
    src         : url("/assets/fonts/PlayfairDisplay-Bold.woff") format("woff");
}

@font-face {
    font-family: Futura-Heavy;
    src: url("/assets/fonts/FuturaHeavy.woff") format("woff");
}

@font-face {
    font-family: Futura-Light;
    src: url("/assets/fonts/FuturaLight.woff") format("woff");
}

@font-face {
    font-family : Avenir-Regular;
    src         : url("/assets/fonts/Avenir-Regular.woff") format("woff");
}

@font-face {
    font-family : Avenir-Light;
    src         : url("/assets/fonts/Avenir-Light.woff") format("woff");
}

$black: #000000;
$white: #ffffff;
$gray: #7f7f7f;
$light-gray: #d9d8d8;
$very-dark-green: #535c43;
$dark-green: #7d9162;
$light-green: #aabf8d;
$very-light-green: #dceabc;

$nav-height: 100px;

$wide-width: 100%;
$narrow-width: 80vw;
$content-padding: 50px;
$space-between-elements: 30px;

$regular-font-size: 14px;


@mixin breakpoint-2560 {
    @media only screen and (min-width: 1921px) and (max-width: 2560px) { @content; }
}
  
@mixin breakpoint-1920 {
    @media only screen and (min-width: 1681px) and (max-width: 1920px) { @content; }
}
  
@mixin breakpoint-1680 {
    @media only screen and (min-width: 1441px) and (max-width: 1680px) { @content; }
}
  
@mixin breakpoint-1440 {
    @media only screen and (min-width: 1281px) and (max-width: 1440px) { @content; }
}
  
@mixin breakpoint-1280 {
    @media only screen and (max-width: 1280px) { @content; }
}

@mixin breakpoint-960 {
    @media only screen and (max-width: 960px) { @content; }
}

@mixin breakpoint-768 {
    @media only screen and (max-width: 768px) { @content; }
}