@import '../../variables.scss';

.home-wrapper {
    .home-cover-text {
        .title {
            @include breakpoint-768 {
                font-size: 30px;
            }
        }

        .title-line {
            width: 675px;
            margin: 5px 0;

            @include breakpoint-768 {
                width: 330px;
                margin-bottom: 5px;
            }
        }
    }

    .about-home-wrapper {
        padding: $content-padding;
        background-color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include breakpoint-768 {
            padding: $content-padding $content-padding-mobile;
        }

        .about-home {
            width: $narrower-width;
            margin-bottom: 50px;

            @include breakpoint-768 {
                width: 100%;
            }

            .about-title {
                margin-bottom: 20px;
                text-align: center;
            }

            .about-line {
                margin-bottom: 20px;
            }

            .img-signature-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;

                .spela-img-div {
                    width: 250px;
                    margin: 30px auto 0 auto;

                    .spela-img {
                        width: 100%;
                        height: auto;
                        border-radius: 50%;
                        border: 1px solid black;
                    }
                }
            }

            .main-text {
                text-align: justify;

                p {
                    padding-bottom: 10px;

                    &.important-text {
                        text-align: center;
                        padding-top: 20px;
                    }
                }
            }

            .about-signature {
                margin-top: 20px;
                text-align: center;

                .about-signature-img {
                    width: 100px;
                    height: auto;
                }
            }
        }
    }
    .hypnosis-home-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .hypnosis-home {
            width: $narrow-width;
            padding: 20vh 100px;
            text-align: center;
            background-color: $white;

            @include breakpoint-960 {
                width: 100%;
                padding: $content-padding;
            }

            @include breakpoint-768 {
                padding: $content-padding $content-padding-mobile;
            }

            .title {
                @include breakpoint-768 {
                    font-size: 45px;
                }
            }

            .hypnosis-home-content {
                margin-top: $space-between-elements;
            }

            .hypnosis-home-button {
                margin-top: $space-between-elements;
            }
        }
    }
    .blog-home-wrapper {
        background-color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;

        .blog-home-line {
            border-style: solid;
            border-width: 3px;
            border-image: linear-gradient(to right, $purple 0%, $purple 20%, $purple 80%, $purple 100%);
            border-image-slice: 1;
            width: calc(100vw - 100px);
            margin: 50px 0;
            min-height: calc(100vh - 50px - #{$nav-height});

            @include breakpoint-768 {
                min-height: 100vh;
                width: calc(100% - 30px);
                margin: 50px 10px;
            }
        }

        .blog-home {
            width: $narrow-width;
            text-align: center;
            margin: auto;

            .title {
                margin-top: $space-between-elements;
                color: $black;

                @include breakpoint-960 {
                    margin-bottom: 50px;
                }

                @include breakpoint-768 {
                    font-size: 45px;
                }
            }

            .blog-link-button-div {
                margin: 30px 0;

                @include breakpoint-960 {
                    margin-top: 50px;
                }
            }
            .blog-posts-wrapper{
                .blog-element{
                    cursor: pointer;
                    margin-bottom: 30px;
                }
            }
        }
    }
    .hypnosis-empty-div {
      width: 10vw;
      height: 100px;
      background-color: transparent;
    }
}

.one-blog {
    justify-content: center;
}
