<div class="home-wrapper">
  <div class="bg-img-div">
    <img class="bg-img" src="assets/images/forest_blur.jpg">
  </div>
  <div class="home-cover-text page-title-div">
    <div class="title">
      Stremeti k soncu
    </div>
    <div class="title-line">

    </div>
    <div class="subtitle">
      hipnoza & terapevtske tehnike
    </div>
  </div>
  <div class="about-home-wrapper full-screen">
    <div class="about-home">
      <div class="title-small">
        Pozdravljeni, soustvarjalci
        <fa name="cog" animation="spin"></fa>
        <div class="link">
          <a href="#"><fa name="facebook"></fa></a>
        </div>
        <div class="link">
          <a href="#"><fa name="instagram"></fa></a>
        </div>
      </div>
      <div class="main-text">
          V lanskemletu me je navdihnilamočhipnoze, kisemjoimelapriložnostspoznati v sklopuizobraževanjaza medicinsko hipnozopod vodstvomprof. dr. Marjana Pajntarja, ki me je navdušils primeri iz svoje klinične prakse ter mi podal vero v moč te čudovite psihoterapevtske tehnike, ki ponuja neskončne možnosti za raziskovanje človekove duševnosti.Takosemlanipridobilakardvanaziva; diplomiranabiopsihologinja in terapevtkamedicinskehipnoze. 
          
          S to spletnostranjovamželimpodaritidelčekznanja o hipnozi in z vamipodelitinekajkonkretnihzvočnihposnetkovhipnotičnihsugestij, kispodbujajoskrite potenciale ter odpirajo nove načine razmišljanja in vedenja.Poleg tega bom z vami delila svoja znanja in razmišljanja, ki jih trenutno pridobivam na magisterskem študiju klinične psihologije v Italiji. 
          
          
          Nekočsemprebrala, da vsakažalost v sebinosidarilo, a šelesedaj, nekaj let kasneje, sem v tem našlasvojoresnico. Danes vem, da življenjelahkorazumemokotzaporedjenekihdogodkov… ali pa, kotpopolnososkladjedolgodivščin, kiskupajtvorijosimfonijonašegaživljenjapričimer je pomembnapravvsakanota.
          
          Paulo Coelho je zapisal, da je vsakčlovekdrugačen in to je pravica, kijomoramoizkoristiti z vsemiposledicami, kijih to prinaša.Da pa bo to čimboljlahkotno, najvam ta spletnastranslužikotpovabilo k spremembi, k usklajenosti s sabo in svetom, k polnejšem in srečnejšemuživljenju. 	
          
          Vabljeni, da se skupaj, vsakdanznova, vprašamo, kakoje lahkonašeživljenješeboljmelodičnoin počakamo, da namzaigrasvojočudovitosimfonijo.
          
      </div>
    </div>
  </div>
  <!-- about -->
  <!--
  <div class="deltoid-line deltoid-line-light-green">
  </div>
  -->
  <div class="hypnosis-home-wrapper full-screen">
    <div class="hypnosis-home">
      <div class="title">
        Hipnoza
      </div>
      <div class="hypnosis-home-content">
        Hipnoza je stanje globoke sproščenosti, usmerjene pozornosti in 
        sprejemljivosti za sugestije. 
      </div>
      <div class="hypnosis-home-button">
        <a href="/about">
          <button class="button-light">več</button>
        </a>
      </div>
    </div>
  </div>
  <!-- hypnosis-home -->
  <!--
  <div class="deltoid-line deltoid-line-light-green">
  </div>
  -->
  <div class="blog-home-wrapper full-screen">
    <div class="blog-home-line">
      <div class="blog-home">
        <div class="title">
          Blog
        </div>
        <div class="blog-home-content">
          <div class="blog-home-element">
            <a>
            <div class="blog-element-category">
              hipnoza
            </div>
            <div class="blog-element-title">
              Kaj je hipnoza?
            </div>
            <div class="blog-element-date">
              18. MAREC 2018
            </div>
            <div class="blog-element-img-div">
              <img class="blog-element-img" src="assets/images/forest_blur.jpg">
            </div>
            <div class="blog-element-description">
                usklajenosti s sabo in svetom, k polnejšem in srečnejšemuživljenju. Vabljeni, da se skupaj, vsakdanznova, vprašamo, kakoje lahkonašeživljenješeboljmelodičnoin počakamo, da namzaigrasvojočudovitosimfonijo. usklajenosti s sabo in svetom, k polnejšem in srečnejšemuživljenju. Vabljeni, da se skupaj, vsakdanznova, vprašamo, kakoje lahkonašeživljenješeboljmelodičnoin počakamo, da namzaigrasvojočudovitosimf
            </div>
            </a>
          </div>
          <!--second blog element -->
          <div class="blog-home-element">
              <div class="blog-element-category">
                hipnoza
              </div>
              <div class="blog-element-title">
                Kaj je hipnoza?
              </div>
              <div class="blog-element-date">
                18. MAREC 2018
              </div>
              <div class="blog-element-img-div">
                <img class="blog-element-img" src="assets/images/forest_blur.jpg">
              </div>
              <div class="blog-element-description">
                  usklajenosti s sabo in svetom, k polnejšem in srečnejšemuživljenju. Vabljeni, da se skupaj, vsakdanznova, vprašamo, kakoje lahkonašeživljenješeboljmelodičnoin počakamo, da namzaigrasvojočudovitosimfonijo. usklajenosti s sabo in svetom, k polnejšem in srečnejšemuživljenju. Vabljeni, da se skupaj, vsakdanznova, vprašamo, kakoje lahkonašeživljenješeboljmelodičnoin počakamo, da namzaigrasvojočudovitosimf
              </div>
            </div>
            <!-- // second blog element -->
            <!--third blog element -->
          
          <div class="blog-home-element">
              <a>
              <div class="blog-element-category">
                UMETNOST
              </div>
              <div class="blog-element-title">
                Kaj je hipnoza in zakaj hipnoza?
              </div>
              <div class="blog-element-date">
                18. MAREC 2018
              </div>
              <div class="blog-element-img-div">
                <img class="blog-element-img" src="assets/images/logo.svg">
              </div>
              <div class="blog-element-description">
                  usklajenosti s osimf sklajenosti s osimfsklajenosti s osimfsklajenosti s osimf sklajenosti s osimfsklajenosti s osimfsklajenosti s osimf
              </div>
            </a>
            </div>
            
            <!-- // third blog element -->
        </div>
      </div>
    </div>
  </div>
</div>