<div class="home-wrapper">
  <div class="bg-img-div">
    <img class="bg-img" src="assets/images/forest_blur.jpg">
  </div>
  <div class="home-cover-text page-title-div">
    <div class="title">
      Stremeti k soncu
    </div>
    <div class="title-line">

    </div>
    <div class="subtitle">
      hipnoza & druge terapevtske tehnike
    </div>
  </div>
  <div class="about-home-wrapper full-screen">
    <div class="about-home">
      <div class="about-title title-small">
        Pozdravljeni, soustvarjalci
      </div>
      <div class="gradient-line about-line">
      </div>
      <div class="main-text">
        <p>
          V preteklosti me je navdihnila  moč hipnoze, ki sem jo imela priložnost spoznati v sklopu izobraževanja za medicinsko hipnozo pod mentorstvom prof. dr Pajntar Marjana.  Navdušil me je s primeri iz svoje klinične prakse ter mi podal znanje in zaupanje v moč te čudovite, tisočletja znane terapevtske tehnike. Tehnike, ki je v zahodnem svetu končno le priznana kot medicinska in terapevtksa metoda, ki ponuja neskončne možnosti za raziskovanje človekove duševnosti.
          Tako sem lani pridobila kar dva naziva; diplomirana biopsihologinja in terapevtka medicinske hipnoze. 
        </p>
        <p>
          Želim vam podariti delček znanja o hipnozi in z vami deliti zvočne posnetke hipnotskih seans. Zvočni posnetki so razdeljeni na več kategorij; Samozavest, Jaz in Moje telo. Vsi spodbujajo naše skrite potenciale, nove načine razmišljanja in vedenja. 
        </p>
        <p>
          V blogu z vami delilm svoja znanja in razmišljanja, ki jih trenutno pridobivam na magistrskem študiju klinične psihologije v Italiji.
        </p>
        <p>
          Življenje je samo po sebi čarobna umetnost in Terapevtski atelje je prostor, ki predstavlja povabilo k spremembi, k usklajenosti s seboj in svetom, k polnemu in srečnemu življenju.
        </p>
        <div class="img-signature-wrapper">
          <div class="spela-img-div">
            <img class="spela-img" src="assets/images/spela3.jpg">
          </div>
          <div class="signature-wrapper">
          <p class="important-text">
            Vabljeni, da skupaj ustvarjamo, stremimo k soncu in praznujemo vse dni našega življenja.
          </p>
          <div class="about-signature">
            Špela
          </div>
        </div>
        </div>


      </div>
    </div>
  </div>
  <!-- about -->
  <!--
  <div class="deltoid-line deltoid-line-light-green">
  </div>
  -->
  <div class="hypnosis-home-wrapper full-screen">
    <div class="hypnosis-home">
      <div class="title">
        Hipnoza
      </div>
      <div class="hypnosis-home-content">
        Hipnoza je stanje globoke sproščenosti, usmerjene pozornosti in 
        sprejemljivosti za sugestije. 
      </div>
      <div class="hypnosis-home-button">
        <a href="/about">
          <button class="button-dark">več</button>
        </a>
      </div>
    </div>
  </div>
  <!-- hypnosis-home -->
  <!--
  <div class="deltoid-line deltoid-line-light-green">
  </div>
  -->
  <div class="blog-home-wrapper full-screen">
    <div class="blog-home-line">
      <div class="blog-home">
        <div class="title">
          Blog
        </div>
        <div class="blog-posts-wrapper">
            <div *ngFor='let blog of homeBlogs | slice:0:3' class="blog-element">
                  <div class="blog-element-img-div">
                    <img *ngIf="blog.pictures.length == 0" class="blog-element-img" src="assets/images/forest_blur.jpg">
                    <img *ngIf="blog.pictures.length > 0"  class="blog-element-img" [src]="blog.pictures[0].url">
                  </div>
                  <div class="blog-element-category">
                    {{generalService.getBlogCategory(blog)}}
                  </div>
                  <div class="blog-element-title">
                    {{blog.title}}
                  </div>
                  <div class="blog-element-date">
                    {{generalService.datePipe(blog)}}
                  </div>
                  <div class="thin-black-line">
                  </div>
                  <div class="blog-element-description">
                        {{blog.description}} 
                  </div>
              </div>
          </div>
        <div class="blog-link-button-div">
          <a href="/blog">
          <button class="button-dark">
            VSI ZAPISI
          </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>