<div class="home-wrapper">
  <div class="bg-img-div">
    <img class="bg-img" src="assets/images/dfs3rz/terapevtske_meditacije_img.jpg">
  </div>
  <div class="home-cover-text page-title-div">
    <div class="title">
      Terapevtske meditacije
    </div>
    <div class="title-line">

    </div>
    <div class="subtitle">
      Meditacija, psihologija in tibetanske posode
    </div>
  </div>
  <div class="about-home-wrapper full-screen">
    <div class="about-home">


      <div class="title-smaller about-title">
        VIZIJA
      </div>
      <div class="main-text">
        <p>
          Terapevtske meditacije združujejo meditacijo z zvokom tibetanskih posod in različnimi terapevtskimi tehnikami, ki segajo onkraj meditacije in se hkrati,
           v nekaterih vidikih, z njo prekrivajo in/ali jo podpirajo. Prepletanje vodenih vizualizacij, kontemplacij, (avto)sugestij, tehnik sproščanja in
            hipnoteravtskih pristopov ob spremljavi petja tibetanskih posod, se smiselno združuje v celoto, katere namen je poglabljanje vase.
        </p>
        <br>
        <p>
          Terapevtske meditacije so podpora pri osebni rasti in samouresničevanju. Skozi potovanje vase, se spomnimo, kar že vemo,
          a je bilo preglašeno s hrupom zunanjega sveta. Namen meditacij je spoznati sebe, svoje razsežnosti, in se hkrati vrniti vase oziroma
          najti stik s seboj..

        </p>
        <p style="text-align: center">
          Terapevtske meditacije so namenjene vsem, <br>
          ki si želijo učiti pri samem sebi, <br>
          od sebe.<br>
          Vsem, ki si želijo miru, <br>
          ki je odraz notranjega ravnovesja. <br>
          Vsem, ki iščejo zatočiše v sebi.<br>
          Zase.<br>
          <br>
        </p>
        <!--<div class="img-signature-wrapper">
            <div class="spela-img-div">
              <img class="spela-img" src="assets/images/dfs3rz/about_me_img.jpg">
            </div>
            <div class="signature-wrapper">

            <div class="about-signature">
              <img class="about-signature-img" src="assets/images/podpis.svg">
            </div>
          </div>
          </div>-->
      </div>

      <div class="gradient-line about-line">
        </div>
      <div class="title-smaller about-title">
          O TIBETANSKIH POSODAH
      </div>
      <div class="main-text">
        <p>
            Terapevtske meditacije spremlja igranje tibetanskih posod, saj njihov zvok naravno polgablja in podaljšuje meditativno stanje.
        </p>
        <p>
            Tibetanske posode v svojem izvoru združujejo budistično meditacijo in šamanske obrede, v katerih zvok predstavlja pomembeno orodje za vstop
            v druge resničnosti in svetove. Od vseh čutev nas ravno sluh lahko hitreje in globje popelje v meditatativno stanje, le naučiti se moramo,
            kako pozorno, hrati pa sproščeno prisluhniti.
        </p>
        <p>
            Dnevno smo izpostavljeni ogromni količini zvoka in posledično vibracijam, tudi tistim, ki jih ne slišimo, a kljub temu močno vplivajo na naše psihično in
            fizično počutje. Te vibracije se z valovanjem širijo na druga telesa, kjer sprožijo podobno vibracijo. Posledično ima vsak zvok ali vibracija, ki nas obdaja,
            učinek na naše telo in počutje.
        </p>
        <p>
            Tibetanske posode so drugačne od vseh drugih glasbenih inštrumentov. Njihov zvok je prvinski, čist, harmoničen in globok. S poslušalci ustvarjajo
            edinstven stik, saj jih je mogoče slišati in čutiti z vsem telesom. Vsaka celica v telesu se odziva na njihov zvok, ki nadvse blagodejno vpliva na vso telo.
            Le to je mogoče, ker je naše telo sestavljeno iz 80 odstotkov vode. Z drugimi besedami, tudi če si zamašimo ušesa, bodo naše telesne tekočine še vedno
             resonirale z vsemi zvoki, ki nas obdajajo. Prav tako tudi druga tkiva v telesu, a v manjši meri.
        </p>
      </div>
    </div>
  </div>

  <div class="hypnosis-empty-div"></div>
  <!-- EVENTS SECTION -->
  <div class="blog-home-wrapper full-screen" *ngIf="arrEvents && arrEvents.length > 0">
      <div class="blog-home-line">
        <div class="blog-home">
          <div class="title">
            Dogodki
          </div>
          <div class="blog-posts-wrapper" [class.one-blog]="arrEvents.length == 1">
              <div *ngFor='let event of arrEvents | slice:0:3' class="blog-element event-element" (click)="redirectToEvent(event)">
                    <div class="blog-element-img-div">
                      <div class="event-element-home-date-div">
                        <span class="event-date-home-day">{{ getEventDay(event) }}. {{ getEventMonth(event) }}</span>
                      </div>
                    </div>

                    <div class="blog-element-title">
                      {{event.title}}
                    </div>
                    <div class="blog-element-date">
                      {{event.subTitle}}
                    </div>
                    <div class="thin-black-line">
                    </div>


                    <div class="blog-element-description">
                      {{event.description}}
                    </div>
                                    </div>
            </div>
          <div class="blog-link-button-div">
            <a href="/dogodki">
            <button class="button-dark">
              VSI DOGODKI
            </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  <div class="hypnosis-empty-div"></div>
</div>
