@import '../../variables.scss';

.home-wrapper {
    


    .home-cover-text {     
        .home-text-1 {
            font-family: Montserrat-Regular;
            font-size: 60px;
            color: $white;
        }

        .home-text-2 {
            font-family: Montserrat-Regular;
            font-size: 40px;
            color: $white;
        }

        .title {
            @include breakpoint-768 {
                    font-size: 30px;
            }
        }

        .title-line {
    
            width: 530px;
            margin: 5px 0;
    
            @include breakpoint-768 {
                width: 330px;
                margin-bottom: 5px;
            }
        }
    }

    .about-home-wrapper {
        padding: $content-padding;
        //width: $narrow-width;
        background-color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .about-home {
            width: $narrow-width;
            /*
            .about-title {
                    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, $pastel-pink), color-stop(0.15, $pastel-purple), color-stop(0.3, $pastel-blue), color-stop(0.6, $pastel-green));
                    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
                    color:transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
            }
            */
            .about-title {
                margin-bottom: 20px;
                text-align: center;
            }

            .about-line {
                margin-bottom: 20px;
            }

            .main-text {
                text-align: justify;

                p {
                    padding-bottom: 10px;

                    &.important-text {
                        text-align: center;
                        padding-top: 20px;
                        //font-family: OpenSans-Semibold;
                    }
                }
            }

            .about-signature {
                margin-top: 20px;
                text-align: center;
            }
        }
    }
    .hypnosis-home-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .hypnosis-home {
            width: $narrow-width;
            padding: 20vh 0;
            text-align: center;
            background-color: $white;

            @include breakpoint-960 {
                width: 100%;
                padding: $content-padding;
            }

            .title {
                @include breakpoint-768 {
                    font-size: 45px;
                }
            }

            .hypnosis-home-content {
                margin-top: $space-between-elements;
            }

            .hypnosis-home-button {
                margin-top: $space-between-elements;
            }
        }
    }
    .blog-home-wrapper {
        background-color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;

        .blog-home-line {
            //border: 1px solid $black;
            border: 3px solid transparent;
            border-image: linear-gradient(to right, $pastel-pink 0%, $pastel-purple 20%, $pastel-blue 80%, $pastel-green 100%);
            border-image-slice: 1;
            width: calc(100vw - 100px);
            margin: 50px 0;
            min-height: calc(100vh - 50px - #{$nav-height});

            @include breakpoint-768 {
                min-height: 100vh;
                width: calc(100% - 30px);
                margin: 50px 10px;
            }
        }

        .blog-home {
            width: $narrow-width;
            text-align: center;
            margin: auto;

            .title {
                margin-top: $space-between-elements;
                color: $black;

                @include breakpoint-960 {
                    margin-bottom: 50px;
                }

                @include breakpoint-768 {
                    font-size: 45px;
                }
            }

            .blog-link-button-div {
                margin: 30px 0;

                @include breakpoint-960 {
                    margin-top: 50px;
                }
            }
        }
    }
}