@import '../../variables.scss';

.home-wrapper {
    .home-cover-text {
        /*
        top: #{$nav-height};
        right: 0;
        width: 100%;
        position: absolute;
        */
        
        .home-text-1 {
            font-family: Montserrat-Regular;
            font-size: 60px;
            color: $white;
        }

        .home-text-2 {
            font-family: Montserrat-Regular;
            font-size: 40px;
            color: $white;
        }

        .title-line {
            width: 640px;
            margin: 5px 0;
        }
    }

    .about-home-wrapper {
        /*padding: $content-padding;*/
        //width: $narrow-width;
        background-color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .about-home {
            width: $narrow-width;
            text-align: center;
            .title {
               
            }
        }
    }
    .hypnosis-home-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .hypnosis-home {
            width: $narrow-width;
            padding: 20vh 0;
            text-align: center;
            background-color: $white;
            .title {
            }

            .hypnosis-home-content {
                margin-top: $space-between-elements;
            }

            .hypnosis-home-button {
                margin-top: $space-between-elements;
            }
        }
    }
    .blog-home-wrapper {
        background-color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;

        .blog-home-line {
            //border: 1px solid $black;
            border: 3px solid transparent;
            border-image: linear-gradient(to right, #E8C0D7 0%,#8AC4EB 60%, #9FBC7B 80%, #BFD89E 100%);
            border-image-slice: 1;
            width: calc(100vw - 100px);
            margin: 50px 0;
            min-height: calc(100vh - 50px - #{$nav-height});
        }

        .blog-home {
            width: $narrow-width;
            text-align: center;
            margin: auto;
            .title {
                margin-top: $space-between-elements;
                color: $black;

                @include breakpoint-960 {
                    margin-bottom: 50px;
                }
            }

            .blog-home-content{
                display: flex;
                justify-content: space-between;

                @include breakpoint-960 {
                    flex-direction: column;
                    align-items: center;
                }

                .blog-home-element {
                    width: 30%;
                    padding: 20px;

                    @include breakpoint-960 {
                        width: 80%;
                    }

                    a {
                        cursor: pointer;
                    }
                    .blog-element-category {
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-size: 14px;
                    }
                    .blog-element-title {
                        margin: 10px 0;
                        font-family: PlayfairDisplay-Regular;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-size: 30px;
                    }

                    .blog-element-date {
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-size: 14px;
                    }

                    .blog-element-img-div {
                        margin: 20px 0;

                        .blog-element-img {
                            width: 100%;
                            height: 200px;
                            object-fit: cover;
                            overflow: hidden;
                            border: 1px solid $black;

                            @include breakpoint-960 {
                                height: 280px;
                            }
                        }
                    }

                    .blog-element-description {
                        width: 100%;
                        height: 100px;
                        text-overflow: ellipsis;

                        p {
                            overflow: hidden;
                            white-space: nowrap;
                            overflow: hidden;
                            height: 100%;
                            text-overflow: ellipsis;
                            max-width: 200ch;
                            /*
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            */
                        }
                    }
                }
            }
        }
    }

    .deltoid-line {
        margin-top: $space-between-elements;
    }
}